@charset "UTF-8";
/*載入檔案區*/
/*斷點設置*/
/*列印用*/
/*IE 11*/
/*chrome 不含safari*/
/*但edge opera也會運作*/
@media all and (-webkit-min-device-pixel-ratio: 0) and (-webkit-min-device-pixel-ratio: 0), all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  #selector {
    background-attachment: fixed;
  }
}
/*文字相關設定*/
/*文字單行+nowrap*/
/*文字基本設定--標題有襯線宋體*/
/*文字基本設定--內文黑體*/
/*文字基本設定--標題英文*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 0;
}

h1 {
  font-family: "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 600;
  color: #111520;
  line-height: 1.6;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
@media all and (min-width: 48em) {
  h1 {
    font-size: 2.13rem;
    letter-spacing: 1.5px;
  }
}
@media all and (min-width: 116em) {
  h1 {
    font-size: 3.13rem;
  }
}

h2 {
  font-family: "Lateef", cursive;
  font-weight: normal;
  color: #111520;
  font-size: 3.38rem;
}
@media all and (min-width: 48em) {
  h2 {
    font-size: 6rem;
  }
}
@media all and (min-width: 116em) {
  h2 {
    font-size: 8.25rem;
  }
}

h3 {
  font-family: "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 600;
  color: #111520;
  line-height: 1.6;
  font-size: 1.25rem;
  line-height: 1.8;
  letter-spacing: 1px;
}
@media all and (min-width: 80em) {
  h3 {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 116em) {
  h3 {
    font-size: 1.88rem;
    letter-spacing: 1.2px;
  }
}

h4 {
  font-family: "Lateef", cursive;
  font-weight: normal;
  color: #111520;
  box-shadow: inset 0 -0.03em #111520;
  font-size: 1.25rem;
  line-height: 1;
}
h5 {
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #ffcf0c;
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}
@media all and (min-width: 80em) {
  h5 {
    font-size: 1.0625rem;
  }
}
h6 {
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 1px;
}
@media all and (min-width: 80em) {
  h6 {
    font-size: 1.0625rem;
    line-height: 1.7;
  }
}
p {
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  line-height: 2.2;
  font-size: 0.9375rem;
}
@media all and (min-width: 80em) {
  p {
    font-size: 1.0625rem;
    line-height: 2.2;
  }
}
.typo-chTit {
  font-family: "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 600;
  color: #111520;
  line-height: 1.6;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
@media all and (min-width: 48em) {
  .typo-chTit {
    font-size: 2.13rem;
    letter-spacing: 1.5px;
  }
}
@media all and (min-width: 116em) {
  .typo-chTit {
    font-size: 2.88rem;
  }
}

.typo-danger {
  color: #fa1107;
}

.typo-black {
  color: #111520;
}

.typo-underline {
  text-decoration: underline;
}

.typo-textAlignCenter {
  text-align: center;
}

/*基底通用設定*/
/*zdialog*/
.buttonStyle {
  width: 64px;
  height: 22px;
  line-height: 22px;
  color: #ad6c39;
  text-align: center;
  background: url(images/buticon.gif) no-repeat left top;
  border: 0.75em;
}
.buttonStyle:hover {
  background: url(images/buticon.gif) no-repeat left -23px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  background-image: url(../images/newbg.png);
}
@media all and (min-width: 64em) {
  body {
    background-size: auto;
  }
}

.whiteHelfBgArea {
  position: relative;
  width: 100%;
  height: auto;
}

.whiteHelfBg {
  display: block;
  height: 100%;
}
@media all and (min-width: 48em) {
  .whiteHelfBg {
    width: 50%;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
  }
}

.yellowHelfBg {
  display: block;
  height: 100%;
}
@media all and (min-width: 64em) {
  .yellowHelfBg {
    width: 30%;
    position: absolute;
    background: #fff9e7;
  }
}
@media all and (min-width: 116em) {
  .yellowHelfBg {
    width: 25%;
  }
}

@keyframes noise-ani {
  50% {
    background-position: 800px 600px;
  }
  100% {
    background-position: -800px -600px;
  }
}
a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: #111520;
}
a:hover {
  box-shadow: inset 0 -0.03em #111520;
}

/*反白字體*/
::selection {
  background: #ffcf0c;
  color: #111520;
}

/*按下無藍色框*/
/*無障礙focus用*/
/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ffcf0c;
}

::-webkit-scrollbar-track {
  background: #FFF;
}

::-webkit-scrollbar-thumb:hover {
  background: #d0a916;
}

/*進度條*/	
/*頁面框架及常用設定*/
.max_width {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 116em) {
  .max_width {
    width: 102em;
  }
}

.com_width {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 64em) {
  .com_width {
    width: 58em;
  }
}

.clear {
  clear: both;
}

.overflow-hidden {
  overflow: hidden;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.ptb-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.plr-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.plr-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.plr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-80 {
  padding-right: 80px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-40 {
  padding-bottom: 40px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-30 {
  margin-right: 30px;
}

.mlr-3 {
  margin-left: 3px;
  margin-right: 3px;
}

.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mlr-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mlr-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mtb-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mtb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mtb-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mtb-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

/*flex 排成一排列表*/
.phone-show {
  display: block;
}
@media all and (min-width: 64em) {
  .phone-show {
    display: none;
  }
}

/*列印隱藏區域*/
@media print {
  .print_hidden {
    display: none;
  }
}

.display-block {
  display: block;
}

.of-hidden {
  overflow: hidden;
}

.marginAuto {
  margin: 0 auto;
}

/*按鈕部件*/
/*按鈕設置*/
/*第一款 基本大按鈕*/
.btnRedBt {
  width: 200px;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  display: block;
  position: relative;
  background: #fa1107;
  position: relative;
}
.btnRedBt:hover {
  color: #FFF;
  background: #111520;
}

.btnMorebt {
  position: relative;
  display: table;
}
.btnMorebt:hover {
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
.btnMorebt:hover .btnMorebt-circle {
  transform: scale(0.5) translateX(360px);
}
.btnMorebt:hover .btnMorebt-arrow {
  transform: scale(0.7) translateX(10px);
}
.btnMorebt .btnMorebt-circle {
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #111520;
  position: absolute;
  z-index: 1;
  top: -28px;
  left: -15px;
  transition: all 0.5s ease-in-out;
  transform: scale(0.5);
}
.btnMorebt .btnMorebt-word {
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  font-weight: 700;
  line-height: 56px;
  padding-left: 35px;
  padding-right: 10px;
  position: relative;
  z-index: 2;
}
.btnMorebt .btnMorebt-arrow {
  width: 80px;
  height: 26px;
  vertical-align: middle;
  transition: all 0.5s linear;
  position: relative;
  z-index: 2;
  transform: scale(0.7);
}

.btnEmbt {
  display: block;
}
.btnEmbt:hover {
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
.btnEmbt .btnEmbt-circle {
  width: 130px;
  height: auto;
  position: absolute;
  z-index: 1;
  transition: all 0.7s ease-in-out;
  opacity: 0;
  transform: rotate(-20deg);
  animation: btEmAniCircle 1s 1.5s 1 forwards ease-in-out;
}
.btnEmbt .btnEmbt-arrow {
  width: 80px;
  height: 26px;
  margin-top: 60px;
  margin-left: 90px;
  transition: all 0.7s ease-in-out;
  transform: scale(0.9) translateX(-35px);
  opacity: 0;
  animation: btEmAniArrow 0.5s 1.8s 1 forwards linear;
}

@keyframes btEmAniCircle {
  0% {
    opacity: 0;
    transform: rotate(-60deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes btEmAniArrow {
  0% {
    transform: scale(0.9) translateX(-35px);
    opacity: 0;
  }
  100% {
    transform: scale(0.9) translateX(0px);
    opacity: 1;
  }
}
.btnGalleryIntro-emText--text {
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.125rem;
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #ffcf0c;
  text-align: center;
  padding-top: 92px;
  opacity: 0;
  animation: galleryIntroCircleAni 1.5s 1.7s 1 forwards ease;
  transition: all 0.3s linear;
}
.btnGalleryIntro-emText--text:hover {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}

@keyframes galleryIntroCircleAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btnBuyBt {
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  display: inline-block;
  width: 260px;
  height: 60px;
  line-height: 62px;
  padding-left: 30px;
  padding-right: 30px;
  background: #ffcf0c;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1.2px;
}
.btnBuyBt:hover {
  background: #d0a916;
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
.btnBuyBt::after {
  content: " ";
  background: url(../images/newadd-icon.svg);
  float: right;
  width: 22.2px;
  height: 22px;
  vertical-align: 20px;
  margin-top: 20px;
}

.btnLinkBt {
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  display: inline-block;
  width: 260px;
  height: 60px;
  line-height: 62px;
  padding-left: 30px;
  padding-right: 30px;
  background: #ffcf0c;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1.2px;
}
.btnLinkBt:hover {
  background: #d0a916;
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
.btnLinkBt::after {
  content: " ";
  background: url(../images/newlink-icon.svg);
  float: right;
  width: 22px;
  height: 22px;
  vertical-align: 20px;
  margin-top: 20px;
}

/*元素*/
/*照片跟比例外框*/
.eleImgBk {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 56%;
  overflow: hidden;
}
.eleImgBk .eleImgBk-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  line-height: 0;
}

/*影片比例高度*/
.eleVideoBk {
  width: 100%;
  height: 100%;
  position: relative;
  /*padding top跟 bottom 的高度都是依據width來計算比例*/
  padding-bottom: 56%;
  overflow: hidden;
}
@media all and (min-width: 80em) {
  .eleVideoBk {
    padding-bottom: 45%;
  }
}
@media all and (min-width: 116em) {
  .eleVideoBk {
    padding-bottom: 99vh;
  }
}
.eleVideoBk iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.testBk {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 56%;
  overflow: hidden;
  background: #111520;
}
.testBk .testBk-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*分類選項跟麵包屑*/
.eleClassifyBitesBk {
  width: 75%;
  position: relative;
  z-index: 3;
}
@media all and (min-width: 116em) {
  .eleClassifyBitesBk {
    width: 25%;
    float: right;
  }
}

.eleClassify {
  width: 100%;
  height: 70px;
  line-height: 69px;
  background: #ffcf0c;
  border-top: 1px solid rgba(255, 255, 255, 0.24);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: none;
}
@media all and (min-width: 64em) {
  .eleClassify {
    display: block;
  }
}
.eleClassify:hover {
  background: #d0a916;
}
.eleClassify .eleClassify-tit {
  width: 33.3%;
  color: #fff7dd;
  background: #d0a916;
  float: left;
  text-align: center;
}
@media all and (min-width: 48em) {
  .eleClassify .eleClassify-tit {
    text-align: left;
    padding: 0 0 0 30px;
  }
}
@media all and (min-width: 116em) {
  .eleClassify .eleClassify-tit {
    width: 25%;
  }
}
.eleClassify .eleClassify-selBt {
  color: #FFF;
  width: 66.6%;
  color: #fff7dd;
  float: left;
  font-weight: 600;
}
@media all and (min-width: 48em) {
  .eleClassify .eleClassify-selBt {
    padding: 0 0 0 30px;
  }
}
@media all and (min-width: 116em) {
  .eleClassify .eleClassify-selBt {
    width: 75%;
  }
}
.eleClassify .eleClassify-selBt .icon {
  transition: all 0.5s ease-in-out;
  display: inline-block;
  float: right;
  font-size: 0.88em;
}

.eleClassify-sel {
  position: absolute;
  right: 0;
  width: 66.66%;
  height: auto;
  background: #ffcf0c;
  line-height: 60px;
  display: none;
  font-weight: 600;
}
@media all and (min-width: 48em) {
  .eleClassify-sel {
    width: 75%;
  }
}
.eleClassify-sel .eleClassify-sel--link {
  display: block;
  color: #FFF;
}
.eleClassify-sel .eleClassify-sel--link:hover {
  background: #111520;
}

/*麵包屑*/
.eleBite {
  width: 100%;
  cursor: pointer;
}
.eleBite-link {
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  letter-spacing: 1.2px;
  line-height: 1.5;
  padding-bottom: 3px;
  font-size: 0.9375rem;
}
.eleBite-link::after {
  content: url(../images/newbite-arrow.svg);
  width: 20px;
  height: 20px;
  vertical-align: -4px;
  margin-left: 2px;
  margin-right: 3px;
}
.eleBite-link:last-of-type::after {
  display: none;
}

/*跳頁按鈕*/
.eleSelPageBk {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.eleSelPageArrow {
  width: 80px;
  height: 26px;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  vertical-align: -5px;
  transform: scale(0.5);
}
@media all and (min-width: 48em) {
  .eleSelPageArrow {
    width: 90px;
    transform: scale(0.6);
  }
}

.eleSelPageArrow--left {
  background: url(../images/newarrow-left.svg) no-repeat;
}
.eleSelPageArrow--left:hover {
  transform: scale(0.6) translateX(-25px);
}

.eleSelPageArrow--right {
  background: url(../images/newarrow-right.svg) no-repeat;
}
.eleSelPageArrow--right:hover {
  transform: scale(0.6) translateX(25px);
}

.eleSelPageCount {
  width: 38px;
  height: 38px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  line-height: 38px;
  font-size: 0.9375rem;
}
.eleSelPageCount:hover {
  background: white;
  color: #111520;
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}

.eleSelPageCount--pageIn {
  background: #ffcf0c;
  color: #111520;
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}

/*附件下載*/
.eleDownloadBt {
  width: 100%;
  padding: 25px 30px 22px 40px;
  background: #ffcf0c;
  color: #FFF;
  display: block;
  font-size: 1.125rem;
  line-height: 1.8;
}
.eleDownloadBt:nth-last-of-type(2n) {
  background: #d0a916;
}
.eleDownloadBt:hover {
  background: #fa1107;
}
@media all and (min-width: 48em) {
  .eleDownloadBt {
    width: 50%;
  }
}
.eleDownloadBt .eleDownloadBt-tit {
  padding: 0 20px 0 0;
  font-family: "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 600;
  color: #111520;
  line-height: 1.6;
  font-size: 1.19rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #fff7dd;
}

.patLoading {
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff9e7;
  overflow: hidden;
}

.indloadingHide {
  animation: loadingHideBgAni 0.5s 1s 1 normal forwards ease-in-out;
}

@keyframes loadingHideBgAni {
  0% {
    opacity: 1;
  }
  100% {
    background: none;
    opacity: 0;
  }
}
.indloadingHide-block {
  animation: loadingHideAni 1s 0s 1 normal forwards ease-in-out;
}

@keyframes loadingHideAni {
  0% {
    opacity: 1;
    width: 25%;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
.patLoading-color01 {
  position: absolute;
  width: 85px;
  height: auto;
  right: 40px;
  top: 70px;
  transform: scale(0, 0);
  opacity: 0;
}
@media all and (min-width: 48em) {
  .patLoading-color01 {
    width: 150px;
    right: 60px;
    top: 100px;
  }
}
@media all and (min-width: 80em) {
  .patLoading-color01 {
    width: 180px;
    right: 200px;
    top: 120px;
  }
}
@media all and (min-width: 116em) {
  .patLoading-color01 {
    top: 260px;
    right: 340px;
  }
}

.patLoading-color02 {
  position: absolute;
  width: 80px;
  height: auto;
  right: 60px;
  bottom: 80px;
  transform: scale(0, 0);
  opacity: 0;
}
@media all and (min-width: 48em) {
  .patLoading-color02 {
    width: 150px;
    right: 160px;
  }
}
@media all and (min-width: 80em) {
  .patLoading-color02 {
    width: 160px;
    left: 520px;
    bottom: 160px;
  }
}
@media all and (min-width: 116em) {
  .patLoading-color02 {
    left: 500px;
    bottom: 200px;
  }
}

.patLoading-color03 {
  position: fixed;
  z-index: 5;
  width: 260px;
  height: auto;
  top: calc(50% - 150px);
  left: calc(50% - 140px);
  transform: scale(0, 0);
  opacity: 0;
  animation: patColorCircleAni 230s linear 3s infinite normal forwards;
}
@media all and (min-width: 48em) {
  .patLoading-color03 {
    width: 368px;
    top: 270px;
    left: calc(50% - 190px);
  }
}

@keyframes patColorCircleAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.patLogo {
  margin-left: calc(50% - 27px);
  position: fixed;
  z-index: 6;
  top: calc(50% - 30px);
  transition: all 0.2 linear;
}
@media all and (min-width: 48em) {
  .patLogo {
    margin-left: calc(50% - 50px);
    margin-top: 10px;
    top: calc(50% - 60px);
  }
}
@media all and (min-width: 80em) {
  .patLogo {
    margin-top: 20px;
  }
}
.patLogo:hover .patLogo-circle {
  animation-play-state: paused;
}
.patLogo .patLogo-circle {
  width: 60px;
  height: auto;
  position: absolute;
  opacity: 0;
}
@media all and (min-width: 48em) {
  .patLogo .patLogo-circle {
    width: 100px;
  }
}
.patLogo .patLogo-logo {
  width: 30px;
  height: auto;
  position: absolute;
  left: 15px;
  top: 20px;
}
@media all and (min-width: 48em) {
  .patLogo .patLogo-logo {
    width: 45px;
    left: 27px;
    top: 35px;
  }
}

.pat-js-logoCircleAni {
  animation: patLogoCircleAni 40s linear 0.4s infinite normal forwards;
}

@keyframes patLogoCircleAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.patheaderBk {
  position: fixed;
  top: 30px;
  z-index: 3;
}
@media all and (min-width: 48em) {
  .patheaderBk {
    top: 40px;
  }
}

.patheaderBt {
  padding-top: 15px;
  margin-left: 30px;
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;
  float: left;
  position: absolute;
  transition: all 0.2s linear;
}
@media all and (min-width: 48em) {
  .patheaderBt {
    padding-top: 25px;
    margin-left: 50px;
  }
}
@media all and (min-width: 116em) {
  .patheaderBt {
    margin-left: 140px;
  }
}
.patheaderBt:hover {
  opacity: 0.4;
}
.patheaderBt .patheaderBt-icon {
  width: 30px;
  height: auto;
}
@media all and (min-width: 48em) {
  .patheaderBt .patheaderBt-icon {
    width: 48px;
  }
}

.patheaderLink {
  display: none;
}
@media all and (min-width: 80em) {
  .patheaderLink {
    display: block;
    width: auto;
    position: relative;
    left: 150px;
    top: 40px;
  }
}
@media all and (min-width: 116em) {
  .patheaderLink {
    left: 260px;
  }
}
.patheaderLink .patheaderLink-link {
  display: inline-block;
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-right: 30px;
}
@media all and (min-width: 116em) {
  .patheaderLink .patheaderLink-link {
    margin-right: 55px;
    font-size: 1.0625rem;
  }
}

.patnavBk {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.patnavBg {
  position: absolute;
  width: 100%;
  opacity: 0;
  height: 100%;
  background: #fff9e7;
  left: 0%;
}

.patnav {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
}

.patnav-head {
  width: 100%;
  overflow: hidden;
}
.patnav-head .patnav-head--logoImg {
  width: 48px;
  height: 48px;
  float: left;
  margin: 25px 0 0 20px;
}
@media all and (min-width: 80em) {
  .patnav-head .patnav-head--logoImg {
    margin: 50px 0 0 20px;
    width: 64px;
    height: 64px;
  }
}
.patnav-head .patnav-head--logoName {
  float: left;
  color: #111520;
  font-size: 1rem;
  font-weight: 700;
  padding: 0 0 0 20px;
  line-height: 98px;
  letter-spacing: 0.5px;
}
@media all and (min-width: 80em) {
  .patnav-head .patnav-head--logoName {
    font-size: 1.19rem;
    margin-top: 36px;
    padding: 0 0 0 30px;
  }
}
.patnav-head .patnav-head--navCloseBt {
  float: left;
  margin: 40px 0 0 30px;
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;
}
@media all and (min-width: 80em) {
  .patnav-head .patnav-head--navCloseBt {
    margin-top: 60px;
  }
}
.patnav-head .patnav-head--navCloseBt .patnav-head--navCloseBt--icon {
  width: 36px;
  height: 36px;
}
@media all and (min-width: 80em) {
  .patnav-head .patnav-head--navCloseBt .patnav-head--navCloseBt--icon {
    width: 48px;
    height: 48px;
  }
}

.patnavSection {
  width: 100%;
}
@media all and (min-width: 64em) {
  .patnavSection {
    width: 25%;
    float: left;
    padding: 0 0 0 20px;
  }
}
@media all and (min-width: 80em) {
  .patnavSection {
    padding: 0 0 0 90px;
  }
}

.patnavFirstArea {
  margin: 35px 0 0 20px;
}
.patnavFirstArea .patnavFirstArea-tit {
  display: block;
  letter-spacing: 0px;
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #ffcf0c;
  font-size: 1.0625rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.patnavFirstArea .patnavFirstArea-tit .patnavFirstArea-tit--icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: -12px;
}
.patnavFirstArea .patnavSecondArea {
  margin-top: 20px;
  display: none;
  overflow: hidden;
}
@media all and (min-width: 48em) {
  .patnavFirstArea .patnavSecondArea {
    display: block;
  }
}
.patnavFirstArea .patnavSecondArea-li {
  list-style: none;
}
.patnavFirstArea .patnavSecondArea-link {
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  line-height: 42px;
  font-size: 1.03rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.patnavFirstArea .patnavSecondArea-link--actice {
  color: #ffcf0c;
  background: #eaeaea;
}

.patnavFirstArea--noIcon {
  margin-left: 30px;
}
@media all and (min-width: 48em) {
  .patnavFirstArea--noIcon {
    margin: 50px 0 0 40px;
  }
}
@media all and (min-width: 64em) {
  .patnavFirstArea--noIcon {
    margin-top: 80px;
  }
}
.patnavFirstArea--embt {
  box-shadow: inset 0 -0.03em #111520;
}

.patSmlNav {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 3;
  overflow-y: auto;
  background: #111520;
}
.patSmlNav .patSmlNav-closeBt {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  background: #FFF;
}
.patSmlNav .patSmlNav-closeBt .patSmlNav-closeBt--img {
  width: 30px;
  height: 30px;
  margin: 10px 0 0 10px;
}

.patNavMenu {
  width: 100%;
  padding-top: 60px;
}
.patNavMenu .patNavMenu-list {
  margin: 0 0 15px 0;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 600;
  color: #111520;
  line-height: 1.6;
  font-size: 1.0625rem;
  line-height: 35px;
  letter-spacing: 1.5px;
  color: #FFF;
}
.patNavMenu .patNavMenu-list:hover {
  opacity: 1;
}
.patNavMenu .patNavMenu-list--active {
  opacity: 1;
}
.patNavMenu .patNavMenu-icon {
  vertical-align: -4px;
  width: 20px;
  height: 20px;
  margin: 0 15px 0 0;
}
.patNavMenu .patNavMenu-secondList {
  width: 100%;
  padding: 0 30px 10px 96px;
  margin: 0;
}
.patNavMenu .patNavMenu-secondList:last-of-type {
  padding: 0 30px 20px 96px;
}
.patNavMenu .patNavMenu-viceLinkArea {
  background: #fa1107;
}
.patNavMenu .patNavMenu-viceLinkArea .patNavMenu-list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.patBigNav--bg {
  display: none;
}
@media all and (min-width: 80em) {
  .patBigNav--bg {
    display: block;
    height: 180px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 95%);
    position: absolute;
    z-index: 2;
    width: 100%;
  }
}

/*footer*/
.patFooArea {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-top: 30px;
  background-image: url(../images/newbg.png);
}

.patFoo--decLine {
  width: 1px;
  height: 100px;
  background: #111520;
  position: absolute;
  margin-left: calc(50% - 30px);
  transform: scale(0.6);
}
@media all and (min-width: 48em) {
  .patFoo--decLine {
    margin-left: calc(50% - 50px);
  }
}
@media all and (min-width: 80em) {
  .patFoo--decLine {
    margin-left: calc(50% - 100px);
    height: 160px;
  }
}
@media all and (min-width: 116em) {
  .patFoo--decLine {
    margin-left: calc(50% - 140px);
  }
}

.patfooMainArea {
  width: 100%;
  padding-top: 85px;
  padding-bottom: 65px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #fff9e7;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media all and (min-width: 48em) {
  .patfooMainArea {
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-bottom: 70px;
  }
}
@media all and (min-width: 80em) {
  .patfooMainArea {
    padding-top: 140px;
    padding-bottom: 120px;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 80px;
    margin-bottom: 60px;
    justify-content: space-between;
  }
}
.patfooMainArea .patfooMainArea-socialArea {
  display: block;
  margin-bottom: 35px;
  text-align: center;
}
@media all and (min-width: 48em) {
  .patfooMainArea .patfooMainArea-socialArea {
    margin-bottom: 0px;
  }
}
.patfooMainArea .patfooMainArea-socialArea .patfooMainArea-socialArea--h4 {
  display: none;
}
@media all and (min-width: 116em) {
  .patfooMainArea .patfooMainArea-socialArea .patfooMainArea-socialArea--h4 {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    top: -12px;
  }
}
.patfooMainArea .patfooMainArea-socialArea .patfooMainArea-socialArea--bt {
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.patfooMainArea .patfooMainArea-socialArea .patfooMainArea-socialArea--bt .patfooMainArea-socialArea--bt--icon {
  position: relative;
  z-index: 2;
  width: 35px;
  height: 35px;
}
.patfooMainArea .patfooMainArea-socialArea .patfooMainArea-socialArea--bt:hover {
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
.patfooMainArea .patfooMainArea-socialArea .patfooMainArea-socialArea--bt:hover .patfooMainArea-socialArea--bt--layer {
  bottom: 1px;
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
.patfooMainArea .patfooMainArea-socialArea .patfooMainArea-socialArea--bt .patfooMainArea-socialArea--bt--layer {
  background: #111520;
  display: block;
  width: 34px;
  height: 36px;
  position: absolute;
  bottom: -35px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  left: 1px;
}
.patfooMainArea .patfooMainArea-socialArea .patfooMainArea-socialArea--bt--phone {
  top: -2px;
}
.patfooMainArea .patfooMainArea-copyright {
  text-align: center;
  text-decoration: none;
  box-shadow: inset 0 -0.03em #111520;
}
@media all and (min-width: 48em) {
  .patfooMainArea .patfooMainArea-copyright {
    margin: 0 25px;
  }
}
.patfooMainArea .patfooMainArea-logo {
  width: 100px;
  height: auto;
  display: none;
}
@media all and (min-width: 80em) {
  .patfooMainArea .patfooMainArea-logo {
    display: block;
    position: absolute;
    left: calc(50% - 50px);
  }
}

.patfooRelateArea {
  margin-left: auto;
  margin-right: auto;
}
@media all and (min-width: 48em) {
  .patfooRelateArea {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.patfooRelateArea .patfooRelateLink {
  display: block;
  margin-bottom: 35px;
  text-align: center;
  transition: all 0.5s linear;
  opacity: 0.9;
}
.patfooRelateArea .patfooRelateLink:hover {
  opacity: 0.6;
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
@media all and (min-width: 48em) {
  .patfooRelateArea .patfooRelateLink {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
  }
}
@media all and (min-width: 64em) {
  .patfooRelateArea .patfooRelateLink {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media all and (min-width: 80em) {
  .patfooRelateArea .patfooRelateLink {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.patfooSlogan {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.patfooSlogan .patfooSlogan-text {
  font-size: 1rem;
}

.patfooDesign {
  text-align: center;
  margin-bottom: 40px;
  text-decoration: none;
  box-shadow: inset 0 -0.03em rgba(0, 0, 0, 0);
}
.patfooDesign .patfooDesign-text {
  color: #868686;
  box-shadow: inset 0 -0.03em #868686;
}
.patfooDesign .patfooDesign-text:hover {
  padding: 0 12px;
  box-shadow: inset 0 -3em #ffcf0c;
  color: #111520;
}

/*區域內距--無寬度*/
.patSection {
  padding-left: 30px;
  padding-right: 30px;
}
@media all and (min-width: 48em) {
  .patSection {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media all and (min-width: 80em) {
  .patSection {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media all and (min-width: 116em) {
  .patSection {
    padding-left: 140px;
    padding-right: 140px;
  }
}

/*區域寬度*/
.patSectionWidth {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 64em) {
  .patSectionWidth {
    width: 48em;
  }
}
@media all and (min-width: 80em) {
  .patSectionWidth {
    width: 80em;
  }
}
@media all and (min-width: 116em) {
  .patSectionWidth {
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;
  }
}

/*內頁banner*/
.patBannerArea {
  line-height: 0;
  position: relative;
  z-index: 2;
}
.patBannerArea .patBannerArea-Banner {
  animation: patbannerAni 0.6s 1.5s 1 normal forwards ease-in-out;
  object-fit: cover;
  object-position: 50% bottom;
  width: 100%;
  height: 60vh;
}
@media all and (min-width: 64em) {
  .patBannerArea .patBannerArea-Banner {
    height: 75.5vh;
  }
}
.patBannerArea .patBannerArea-layer {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.4);
  mix-blend-mode: hue;
  animation: patbannerLayerAni 0.3s 1.5s 1 normal forwards ease-in-out;
}
@media all and (min-width: 64em) {
  .patBannerArea .patBannerArea-layer {
    height: 75.5vh;
  }
}
.patBannerArea .patBannerArea-titArea {
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0px;
}
.patBannerArea .patBannerArea-titArea .patBannerArea-tit {
  animation: patTitAni 0.5s 1.8s 1 normal forwards ease-in;
  opacity: 0;
  position: relative;
  z-index: 5;
  bottom: -12px;
  padding: 0 0 0 20px;
}
@media all and (min-width: 48em) {
  .patBannerArea .patBannerArea-titArea .patBannerArea-tit {
    bottom: -22px;
    padding: 0 0 0 40px;
  }
}
@media all and (min-width: 64em) {
  .patBannerArea .patBannerArea-titArea .patBannerArea-tit {
    bottom: -32px;
  }
}
@media all and (min-width: 116em) {
  .patBannerArea .patBannerArea-titArea .patBannerArea-tit {
    bottom: -52px;
    padding: 0 0 0 0;
  }
}

@keyframes patbannerAni {
  0% {
    object-position: 50% top;
  }
  100% {
    object-position: 50% 70%;
  }
}
@keyframes patbannerLayerAni {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes patTitAni {
  0% {
    opacity: 0;
    margin-bottom: -40px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}
/*模組區*/
/*文章小標題分區模組*/
.mod-decTitArea .mod-decTitArea--tit {
  display: none;
}
@media all and (min-width: 48em) {
  .mod-decTitArea .mod-decTitArea--tit {
    display: block;
    float: left;
    width: 70px;
  }
}
@media all and (min-width: 48em) {
  .mod-decTitArea .mod-decTitArea--content {
    margin-left: 120px;
  }
}
@media all and (min-width: 64em) {
  .mod-decTitArea .mod-decTitArea--content {
    margin-left: 100px;
  }
}
@media all and (min-width: 116em) {
  .mod-decTitArea .mod-decTitArea--content {
    margin-left: 120px;
  }
}

/*畫作列表模組*/
.mod-galleryli {
  width: auto;
  margin-top: 40px;
  list-style: none;
  animation-delay: 0.8s;
  position: relative;
}
@media all and (min-width: 64em) {
  .mod-galleryli {
    animation-delay: 1.2s;
  }
}

.mod-galleryli-imgBg {
  display: block;
  width: 100%;
  height: auto;
  background: #ffcf0c;
  line-height: 0;
  overflow: hidden;
}
.mod-galleryli-imgBg:hover {
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
.mod-galleryli-imgBg:hover .mod-galleryli-imgBg--img {
  transform: scale(1.08);
  transition: all 0.5s ease-in-out;
}
.mod-galleryli-imgBg .mod-galleryli-imgBg--img {
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: auto;
}

.mod-galleryli-tit {
  margin-top: 20px;
  margin-bottom: 15px;
}
@media all and (min-width: 116em) {
  .mod-galleryli-tit {
    margin-top: 27px;
    margin-bottom: 22px;
  }
}

.mod-galleryli-label {
  display: block;
  position: absolute;
  background: #ffcf0c;
  right: -12px;
  top: -30px;
  z-index: 6;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  font-weight: 500;
  line-height: 100px;
  text-align: center;
  font-size: 1rem;
}

.modLetterAniArea {
  position: relative;
}

.modLetterAniArea-blank {
  padding: 0 15px 0 0;
}
@media all and (min-width: 48em) {
  .modLetterAniArea-blank {
    padding: 0 25px 0 0;
  }
}

.modLetterAniArea-letter {
  position: relative;
  animation: modLetterAni 0.5s 0.1s 1 forwards ease;
  color: #ffeeba;
}
.modLetterAniArea-letter:nth-of-type(1) {
  animation-delay: 0.07s;
}
.modLetterAniArea-letter:nth-of-type(2) {
  animation-delay: 0.14s;
}
.modLetterAniArea-letter:nth-of-type(3) {
  animation-delay: 0.21s;
}
.modLetterAniArea-letter:nth-of-type(4) {
  animation-delay: 0.28s;
}
.modLetterAniArea-letter:nth-of-type(5) {
  animation-delay: 0.35s;
}
.modLetterAniArea-letter:nth-of-type(6) {
  animation-delay: 0.42s;
}
.modLetterAniArea-letter:nth-of-type(7) {
  animation-delay: 0.49s;
}
.modLetterAniArea-letter:nth-of-type(8) {
  animation-delay: 0.56s;
}
.modLetterAniArea-letter:nth-of-type(9) {
  animation-delay: 0.63s;
}
.modLetterAniArea-letter:nth-of-type(10) {
  animation-delay: 0.7s;
}
.modLetterAniArea-letter:nth-of-type(11) {
  animation-delay: 0.77s;
}
.modLetterAniArea-letter:nth-of-type(12) {
  animation-delay: 0.84s;
}
.modLetterAniArea-letter:nth-of-type(13) {
  animation-delay: 0.91s;
}
.modLetterAniArea-letter:nth-of-type(14) {
  animation-delay: 0.98s;
}
.modLetterAniArea-letter:nth-of-type(15) {
  animation-delay: 1.05s;
}
.modLetterAniArea-letter:nth-of-type(16) {
  animation-delay: 1.12s;
}
.modLetterAniArea-letter:nth-of-type(17) {
  animation-delay: 1.19s;
}
.modLetterAniArea-letter:nth-of-type(18) {
  animation-delay: 1.26s;
}
.modLetterAniArea-letter:nth-of-type(19) {
  animation-delay: 1.33s;
}
.modLetterAniArea-letter:nth-of-type(20) {
  animation-delay: 1.4s;
}

.modLetterAniArea-letter--en {
  letter-spacing: -13px;
}
@media all and (min-width: 48em) {
  .modLetterAniArea-letter--en {
    letter-spacing: -20px;
  }
}
@media all and (min-width: 116em) {
  .modLetterAniArea-letter--en {
    letter-spacing: -30px;
  }
}

.modLetterAniArea-letter--ch {
  letter-spacing: -6px;
}
@media all and (min-width: 48em) {
  .modLetterAniArea-letter--ch {
    letter-spacing: -8px;
  }
}
@media all and (min-width: 116em) {
  .modLetterAniArea-letter--ch {
    letter-spacing: -10px;
  }
}

@keyframes modLetterAni {
  0% {
    color: #ffeeba;
  }
  100% {
    color: #111520;
  }
}
/*側邊欄區*/
.modAside {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
@media all and (min-width: 48em) {
  .modAside {
    /*288px*/
    width: 18em;
    float: left;
  }
}

/*頁面標題*/
.modAsideAside-titArea {
  position: relative;
  z-index: 3;
  /*700px*/
}
@media all and (min-width: 48em) {
  .modAsideAside-titArea {
    width: 43em;
  }
}
@media all and (min-width: 64em) {
  .modAsideAside-titArea {
    width: 45em;
  }
}

/*loghtbox 模組*/
/* Unopened modLightbox */
.modLightbox {
  display: none;
  transform: all 1s linear;
  opacity: 0;
}

/* Opened modLightbox */
.modLightbox:target {
  opacity: 1;
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

/* modLightbox content */
.modLightbox-contentBk {
  width: 90vw;
  height: auto;
  width: 75vw;
}
.modLightbox-content {
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  position: relative;
  z-index: 9;
}

/* Close button */
.modLightbox-close {
  position: relative;
  display: block;
}

.modLightbox-close::after {
  right: 0px;
  top: -60px;
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  z-index: 8;
  align-items: center;
  justify-content: center;
  background-color: #ffcf0c;
  border-radius: 50%;
  color: #111520;
  content: "✕";
  cursor: pointer;
}

/* modLightbox overlay */
.modLightbox-close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  content: "";
  cursor: default;
}

/*首頁*/
/*banner區*/
.indBanner {
  position: relative;
  width: 100%;
  background: #FFF;
  line-height: 0;
}
.indBanner .indBanner-imgBk {
  display: block;
  width: auto;
  margin-left: 90px;
}
@media all and (min-width: 48em) {
  .indBanner .indBanner-imgBk {
    margin-left: 170px;
  }
}
@media all and (min-width: 64em) {
  .indBanner .indBanner-imgBk {
    width: 55%;
    float: right;
    margin-left: 0px;
  }
}
@media all and (min-width: 80em) {
  .indBanner .indBanner-imgBk {
    width: 52%;
  }
}
@media all and (min-width: 116em) {
  .indBanner .indBanner-imgBk {
    width: 50%;
    position: absolute;
    right: 0;
  }
}
.indBanner .indBanner-imgBk .indBanner-imgBk--img {
  opacity: 0;
  position: relative;
  z-index: 4;
}
.indBanner .indBanner-titArea {
  padding-top: 30px;
  padding-bottom: 40px;
  opacity: 0;
  position: relative;
  z-index: 2;
}
@media all and (min-width: 64em) {
  .indBanner .indBanner-titArea {
    width: 45%;
    float: left;
    padding-top: 150px;
    padding-bottom: 60px;
  }
}
@media all and (min-width: 80em) {
  .indBanner .indBanner-titArea {
    padding-top: 220px;
    width: 48%;
  }
}
@media all and (min-width: 116em) {
  .indBanner .indBanner-titArea {
    padding-top: 250px;
    min-height: 95vh;
  }
}
.indBanner .indBanner-titArea .indBanner-titArea--tit {
  margin-bottom: 25px;
  display: inline-block;
}
@media all and (min-width: 48em) {
  .indBanner .indBanner-titArea .indBanner-titArea--tit {
    margin-bottom: 40px;
    margin-right: 60px;
  }
}
@media all and (min-width: 64em) {
  .indBanner .indBanner-titArea .indBanner-titArea--tit {
    margin-right: 0px;
  }
}
@media all and (min-width: 116em) {
  .indBanner .indBanner-titArea .indBanner-titArea--tit {
    margin-top: -40px;
    margin-bottom: 50px;
    margin-right: 40px;
  }
}
.indBanner .indBanner-titArea .indBanner-titArea--btArea {
  display: none;
}
@media all and (min-width: 116em) {
  .indBanner .indBanner-titArea .indBanner-titArea--btArea {
    display: block;
    margin-top: 70px;
    margin-left: 85px;
  }
}

.indGalleryArea {
  background: #fff9e7;
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
}
@media all and (min-width: 80em) {
  .indGalleryArea {
    padding-bottom: 70px;
  }
}

.indGalleryIntro {
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
}
@media all and (min-width: 48em) {
  .indGalleryIntro {
    padding-top: 50px;
    padding-bottom: 70px;
    overflow: hidden;
  }
}
@media all and (min-width: 80em) {
  .indGalleryIntro {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media all and (min-width: 116em) {
  .indGalleryIntro {
    padding-top: 110px;
  }
}
.indGalleryIntro .indGalleryIntro-titArea {
  position: relative;
  z-index: 2;
}
@media all and (min-width: 116em) {
  .indGalleryIntro .indGalleryIntro-titArea {
    width: auto;
    float: left;
    margin-right: 140px;
    margin-top: 80px;
  }
}
.indGalleryIntro .indGalleryIntro-emText {
  position: absolute;
  z-index: 1;
  top: 80px;
  right: -40px;
}
@media all and (min-width: 48em) {
  .indGalleryIntro .indGalleryIntro-emText {
    position: relative;
    float: right;
    margin-right: 50px;
    top: -10px;
    right: 0px;
  }
}
@media all and (min-width: 80em) {
  .indGalleryIntro .indGalleryIntro-emText {
    top: -40px;
  }
}
@media all and (min-width: 116em) {
  .indGalleryIntro .indGalleryIntro-emText {
    top: 50px;
    right: 20px;
  }
}
.indGalleryIntro .indGalleryIntro-emText .indGalleryIntro-emText--bt {
  display: none;
}
@media all and (min-width: 48em) {
  .indGalleryIntro .indGalleryIntro-emText .indGalleryIntro-emText--bt {
    display: block;
    position: absolute;
    z-index: 2;
    right: -50px;
    bottom: -20px;
  }
}
.indGalleryIntro .indGalleryIntro-text {
  padding-top: 230px;
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: indGalleryIntroTextAni 1.2s 1.5s 1 forwards ease;
}
@media all and (min-width: 48em) {
  .indGalleryIntro .indGalleryIntro-text {
    width: 300px;
    float: left;
    padding-top: 50px;
  }
}
@media all and (min-width: 80em) {
  .indGalleryIntro .indGalleryIntro-text {
    width: 28em;
  }
}
@media all and (min-width: 116em) {
  .indGalleryIntro .indGalleryIntro-text {
    width: 22em;
    padding-top: 60px;
  }
}

@keyframes indGalleryIntroTextAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.indGalleryListarea {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
@media all and (min-width: 48em) {
  .indGalleryListarea {
    width: 100%;
  }
}
.indGalleryListarea .indGalleryListarea-column {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 48em) {
  .indGalleryListarea .indGalleryListarea-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }
}
@media all and (min-width: 80em) {
  .indGalleryListarea .indGalleryListarea-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
}
@media all and (min-width: 116em) {
  .indGalleryListarea .indGalleryListarea-column {
    grid-column-gap: 30px;
  }
}

@media all and (min-width: 64em) {
  .indGalleryLi {
    animation-delay: 1.8s;
  }
}

.indExhiArea {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media all and (min-width: 48em) {
  .indExhiArea {
    padding-top: 60px;
  }
}
@media all and (min-width: 116em) {
  .indExhiArea {
    padding-top: 100px;
  }
}
.indExhiArea .owl-theme .owl-dots {
  text-align: right;
}
.indExhiArea .owl-theme .owl-dots .owl-dot span {
  margin: 0 12px 0 0;
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #e1e1e1;
}
.indExhiArea .owl-theme .owl-dots .owl-dot.active span, .indExhiArea .owl-theme .owl-dots .owl-dot:hover span {
  background: #d2d2d2;
}

.indExhi {
  position: relative;
}
.indExhi .indExhi-enTit {
  margin-bottom: 20px;
}
@media all and (min-width: 80em) {
  .indExhi .indExhi-enTit {
    width: 40%;
    float: right;
  }
}
@media all and (min-width: 116em) {
  .indExhi .indExhi-enTit {
    width: 40%;
    float: right;
    padding-right: 90px;
  }
}
.indExhi .indExhi-infoArea {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding-top: 20px;
}
@media all and (min-width: 48em) {
  .indExhi .indExhi-infoArea {
    padding-top: 40px;
  }
}
@media all and (min-width: 80em) {
  .indExhi .indExhi-infoArea {
    width: 40%;
    float: right;
    padding-top: 10px;
    margin-bottom: 10px;
  }
}
@media all and (min-width: 116em) {
  .indExhi .indExhi-infoArea {
    width: 40%;
    padding-right: 90px;
  }
}
.indExhi .indExhi-infoArea .indExhi-infoArea--tit {
  padding-bottom: 15px;
}
@media all and (min-width: 48em) {
  .indExhi .indExhi-infoArea .indExhi-infoArea--tit {
    padding-bottom: 40px;
  }
}
@media all and (min-width: 80em) {
  .indExhi .indExhi-photoArea {
    width: 60%;
    float: left;
    padding-right: 100px;
  }
}
@media all and (min-width: 116em) {
  .indExhi .indExhi-photoArea {
    padding-left: 50px;
    padding-right: 110px;
  }
}
.indExhi .indExhi-photoArea .indExhi-photoArea--year {
  display: inline-block;
  margin-bottom: 10px;
}
@media all and (min-width: 48em) {
  .indExhi .indExhi-photoArea .indExhi-photoArea--year {
    margin-top: 15px;
  }
}
@media all and (min-width: 116em) {
  .indExhi .indExhi-photoArea .indExhi-photoArea--year {
    margin-top: 25px;
  }
}
.indExhi .indExhi-photoArea .indExhi-photoArea--date {
  letter-spacing: -0.5px;
  position: relative;
  z-index: 2;
}
@media all and (min-width: 116em) {
  .indExhi .indExhi-photoArea .indExhi-photoArea--date {
    margin-left: 140px;
  }
}
.indExhi .indExhi-photoArea .indExhi-photoArea--photo {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  border: 12px solid #FFF;
  transition: all 0.5s ease-in-out;
  margin-top: -20px;
  background: #ffcf0c;
}
@media all and (min-width: 48em) {
  .indExhi .indExhi-photoArea .indExhi-photoArea--photo {
    margin-top: -40px;
    border: 25px solid #FFF;
    margin-left: 100px;
    width: calc(100% - 100px);
  }
}
@media all and (min-width: 116em) {
  .indExhi .indExhi-photoArea .indExhi-photoArea--photo {
    margin-top: -55px;
    margin-left: 120px;
    width: calc(100% - 120px);
  }
}
.indExhi .indExhi-photoArea .indExhi-photoArea--photo:hover {
  mix-blend-mode: luminosity;
}

.indProArea {
  padding-bottom: 40px;
  overflow: hidden;
}
@media all and (min-width: 116em) {
  .indProArea {
    padding-top: 50px;
  }
}

.indProInfoArea {
  position: relative;
  z-index: 2;
}
@media all and (min-width: 48em) {
  .indProInfoArea {
    width: 300px;
    float: right;
  }
}
@media all and (min-width: 80em) {
  .indProInfoArea {
    width: 330px;
  }
}
@media all and (min-width: 116em) {
  .indProInfoArea {
    width: 420px;
    margin-right: 120px;
  }
}
.indProInfoArea .indProInfoArea--text {
  margin-top: 30px;
}
@media all and (min-width: 48em) {
  .indProInfoArea .indProInfoArea--text {
    width: 290px;
  }
}
@media all and (min-width: 80em) {
  .indProInfoArea .indProInfoArea--text {
    width: 100%;
  }
}
@media all and (min-width: 116em) {
  .indProInfoArea .indProInfoArea--text {
    margin-top: 50px;
  }
}
.indProInfoArea .indProInfoArea--btArea {
  display: none;
}
@media all and (min-width: 48em) {
  .indProInfoArea .indProInfoArea--btArea {
    display: block;
    padding-top: 60px;
    margin-left: -35px;
  }
}

.indProListBk {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
@media all and (min-width: 48em) {
  .indProListBk {
    width: 50%;
    float: left;
    padding-right: 40px;
    margin-top: -20px;
  }
}
@media all and (min-width: 64em) {
  .indProListBk {
    width: 65%;
    padding-right: 0px;
  }
}
@media all and (min-width: 116em) {
  .indProListBk {
    padding-left: 130px;
    padding-right: 30px;
  }
}
.indProListBk .owl-theme .owl-dots {
  text-align: left;
}
.indProListBk .owl-theme .owl-dots .owl-dot span {
  margin: 20px 12px 0 0;
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #e1e1e1;
}
.indProListBk .owl-theme .owl-dots .owl-dot.active span, .indProListBk .owl-theme .owl-dots .owl-dot:hover span {
  background: #d2d2d2;
}

.indProList {
  padding-bottom: 10px;
  width: 100%;
  list-style-type: none;
}
@media all and (min-width: 64em) {
  .indProList {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media all and (min-width: 116em) {
  .indProList {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.indProList .indProList-imgbk {
  display: block;
}
.indProList .indProList-imgbk .indProList-imgbk--img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.indProList .indProList-imgbk:hover {
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
.indProList .indProList-imgbk:hover .indProList-imgbk--img {
  filter: drop-shadow(10px 15px 0px #eaeaea);
}
.indProList .indProList-tit {
  display: inline-block;
  padding-top: 10px;
}
.indProList .indProList-priceArea {
  padding-top: 25px;
}
.indProList .indProList-priceArea .indProList-priceArea--unit {
  font-weight: 500;
  letter-spacing: 1.2px;
}
.indProList .indProList-priceArea .indProList-priceArea--price {
  display: inline-block;
  border-bottom: 1px solid #111520;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1.25rem;
  font-weight: 700;
  color: #111520;
  letter-spacing: 0.5px;
}

.indColorCircle {
  display: none;
}
@media all and (min-width: 48em) {
  .indColorCircle {
    display: block;
    position: fixed;
    z-index: 1;
    width: 140px;
    height: auto;
    bottom: 220px;
    left: 12%;
    transform: scale(0, 0);
    opacity: 0;
  }
}

/*page*/
/*galleryli.php*/ 
.pagGalliBk {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 40px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
@media all and (min-width: 48em) {
  .pagGalliBk {
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 80em) {
  .pagGalliBk {
    padding-top: 220px;
  }
}

/*強調按鈕*/
.pagGalliAside-emBtArea {
  display: none;
}
@media all and (min-width: 48em) {
  .pagGalliAside-emBtArea {
    display: block;
    position: relative;
    left: -62px;
  }
}
@media all and (min-width: 116em) {
  .pagGalliAside-emBtArea {
    left: -30px;
  }
}

/*分類側邊攔*/
.pagGalliAside-sideBk {
  display: none;
}
@media all and (min-width: 48em) {
  .pagGalliAside-sideBk {
    display: block;
    margin-top: 50px;
  }
}

.pagGalliAside-sideBk--sectionTit {
  letter-spacing: 0px;
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #ffcf0c;
  font-size: 1.0625rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.pagGalliAside-sideBk--link {
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  line-height: 46px;
  font-size: 1.0625rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.pagGalliAside-sideBk--link::after {
  content: " ";
  display: block;
}

.pagGalliAside-sideBk--link--act {
  box-shadow: inset 0 -0.03em #111520;
}

/*畫作列表*/
.pagGalliList {
  margin: 0 auto;
}
@media all and (min-width: 48em) {
  .pagGalliList {
    width: calc(100% - 18em);
    margin-top: 60px;
  }
}
@media all and (min-width: 64em) {
  .pagGalliList {
    padding-left: 30px;
  }
}
@media all and (min-width: 80em) {
  .pagGalliList {
    padding-left: 100px;
  }
}
@media all and (min-width: 116em) {
  .pagGalliList {
    margin-top: 80px;
    padding-left: 150px;
  }
}

.pagGalliList-column {
  width: 80%;
  margin: 0 auto;
}
@media all and (min-width: 48em) {
  .pagGalliList-column {
    width: 100%;
  }
}
@media all and (min-width: 64em) {
  .pagGalliList-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 35px;
  }
}
@media all and (min-width: 116em) {
  .pagGalliList-column {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*畫作列表分頁*/
.pagGalliPageBk {
  width: 100%;
  margin-top: 40px;
}

/*galleryin.php*/ 
.pagGalinBk {
  position: relative;
  z-index: 2;
}

.pagGalinPaintingBK {
  width: 100%;
}
@media all and (min-width: 64em) {
  .pagGalinPaintingBK {
    background: #fff9e7;
    width: 50%;
    position: fixed;
    z-index: 3;
    right: 0;
  }
}
@media all and (min-width: 80em) {
  .pagGalinPaintingBK {
    width: 50%;
    height: 100vh;
    bottom: 0;
  }
}
.pagGalinPaintingBK-zoomBtBk {
  display: none;
}
@media all and (min-width: 64em) {
  .pagGalinPaintingBK-zoomBtBk {
    display: block;
    position: absolute;
    z-index: 2;
    right: 100px;
    top: 103%;
  }
}
@media all and (min-width: 80em) {
  .pagGalinPaintingBK-zoomBtBk {
    top: 5%;
  }
}
@media all and (min-width: 116em) {
  .pagGalinPaintingBK-zoomBtBk {
    top: 70px;
    right: 100px;
  }
}
.pagGalinPaintingBK-zoomBtBk:hover {
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
.pagGalinPaintingBK-zoomBtBk:hover .pagGalinPaintingBK-zoomBtBk--text {
  box-shadow: inset 0 -0.03em black;
}

.pagGalinPaintingBK-zoomBtBk--icon {
  vertical-align: middle;
  padding-right: 12px;
}

.pagGalinPaintingBK-zoomBtBk--text {
  display: inline-block;
  vertical-align: middle;
}

.pagGalinPainting-imgBk {
  display: block;
  width: auto;
  line-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  margin-left: 90px;
}
@media all and (min-width: 48em) {
  .pagGalinPainting-imgBk {
    margin-left: 170px;
  }
}
@media all and (min-width: 64em) {
  .pagGalinPainting-imgBk {
    margin-left: 0;
    text-align: left;
  }
}
@media all and (min-width: 80em) {
  .pagGalinPainting-imgBk {
    position: absolute;
    bottom: 0;
  }
}
.pagGalinPainting-imgBk:hover {
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
.pagGalinPainting-imgBk:hover .pagGalinPainting-imgBk--img {
  transform: scale(1.08);
}

.pagGalinPainting-imgBk--img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 7;
}
@media all and (min-width: 64em) {
  .pagGalinPainting-imgBk--img {
    z-index: 1;
  }
}

.pagGaliBuyInfoBg {
  display: none;
}
@media all and (min-width: 64em) {
  .pagGaliBuyInfoBg {
    display: block;
    position: fixed;
    top: 0;
    width: 60%;
    background: #FFF;
    z-index: -1;
  }
}
@media all and (min-width: 80em) {
  .pagGaliBuyInfoBg {
    width: 50%;
  }
}

.pagGaliBuyInfoBk {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
@media all and (min-width: 64em) {
  .pagGaliBuyInfoBk {
    width: 50%;
    background: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media all and (min-width: 80em) {
  .pagGaliBuyInfoBk {
    width: 50%;
    padding-top: 100px;
  }
}
@media all and (min-width: 116em) {
  .pagGaliBuyInfoBk {
    padding-top: 150px;
  }
}

.pagGaliBuyInfoBk-content {
  width: 100%;
  display: block;
  text-align: center;
}

.pagGaliBuyInfoBk-content--price {
  font-size: 1.75rem;
  letter-spacing: 0.5px;
}
@media all and (min-width: 48em) {
  .pagGaliBuyInfoBk-content--price {
    font-size: 2.13rem;
    letter-spacing: 1.5px;
  }
}
@media all and (min-width: 116em) {
  .pagGaliBuyInfoBk-content--price {
    font-size: 3.13rem;
  }
}

.pagGaliBuyInfoBk-content--buyBt {
  margin-top: 30px;
}
@media all and (min-width: 64em) {
  .pagGaliBuyInfoBk-content--buyBt {
    margin-top: 40px;
  }
}

.pagGaliBuyInfoBk--decLine {
  display: none;
}
@media all and (min-width: 80em) {
  .pagGaliBuyInfoBk--decLine {
    width: 1px;
    height: 0px;
    background: #111520;
    display: block;
    position: absolute;
    bottom: 100px;
    margin-left: 50%;
    transform: scale(0.6);
  }
}

.pagGaliBuyInfoBk--soldLabel {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #ffcf0c;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  transform: scale(0, 0);
  opacity: 0;
}
@media all and (min-width: 48em) {
  .pagGaliBuyInfoBk--soldLabel {
    position: absolute;
    left: 40px;
    top: -80px;
    width: 160px;
    height: 160px;
  }
}
@media all and (min-width: 64em) {
  .pagGaliBuyInfoBk--soldLabel {
    right: -290px;
    top: 230px;
    width: 130px;
    height: 130px;
  }
}
@media all and (min-width: 80em) {
  .pagGaliBuyInfoBk--soldLabel {
    right: -300px;
    top: 200px;
    width: 190px;
    height: 190px;
  }
}
@media all and (min-width: 116em) {
  .pagGaliBuyInfoBk--soldLabel {
    right: -420px;
    top: 240px;
  }
}

.pagGaliBuyInfoBk--soldLabel--en {
  color: #ffe698;
  width: 100%;
}

.pagGaliBuyInfoBk--soldLabel--ch {
  width: 100%;
}

.pagGalinLeftBk {
  width: 100%;
  position: relative;
  z-index: 2;
  padding-top: 30px;
}
@media all and (min-width: 64em) {
  .pagGalinLeftBk {
    padding-top: 70px;
    padding-bottom: 100px;
    width: 50%;
  }
}
@media all and (min-width: 80em) {
  .pagGalinLeftBk {
    width: 50%;
    padding-top: 130px;
    padding-bottom: 200px;
  }
}

.pagGalinLeft-paintingInfo {
  overflow: hidden;
}

.pagGalinLeft-paintingInfo--bk {
  margin-bottom: 30px;
}
@media all and (min-width: 48em) {
  .pagGalinLeft-paintingInfo--bk {
    margin-bottom: 40px;
  }
}
@media all and (min-width: 64em) {
  .pagGalinLeft-paintingInfo--bk {
    margin-bottom: 60px;
  }
}

.pagGalinLeft-paintingInfo--column {
  width: 100%;
}
@media all and (min-width: 48em) {
  .pagGalinLeft-paintingInfo--column {
    width: 50%;
    float: left;
  }
}

.pagGalinLeft-paintingInfo--creatorBk {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 48em) {
  .pagGalinLeft-paintingInfo--creatorBk {
    justify-content: start;
  }
}

.pagGalinCreatorImgBk {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  background: #FFF;
  margin-right: 30px;
}
@media all and (min-width: 48em) {
  .pagGalinCreatorImgBk {
    width: 200px;
    height: 200px;
    margin-right: 80px;
  }
}
@media all and (min-width: 64em) {
  .pagGalinCreatorImgBk {
    width: 160px;
    height: 160px;
    margin-right: 40px;
  }
}
@media all and (min-width: 80em) {
  .pagGalinCreatorImgBk {
    width: 200px;
    height: 200px;
    margin-right: 80px;
  }
}
.pagGalinCreatorImgBk:hover {
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
  background: #ffcf0c;
}
.pagGalinCreatorImgBk:hover .pagGalinCreatorImgBk--Img {
  transition: all 0.3s linear;
  transform: scale(1.05);
  opacity: 1;
}

.pagGalinCreatorImgBk--Img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.pagGalinCreatorName {
  font-family: "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 600;
  color: #111520;
  line-height: 1.6;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
}

.pagGalinCreatorName-a {
  box-shadow: inset 0 -0.03em #111520;
}

/*creatorli.php*/ 
.pagCreliColorCircle {
  display: none;
}
@media all and (min-width: 48em) {
  .pagCreliColorCircle {
    display: block;
    position: fixed;
    z-index: 1;
    width: 368px;
    bottom: 220px;
    height: auto;
    left: -100px;
    transform: scale(0, 0);
    opacity: 0;
    top: 500px;
  }
}
@media all and (min-width: 64em) {
  .pagCreliColorCircle {
    top: 600px;
  }
}
@media all and (min-width: 80em) {
  .pagCreliColorCircle {
    width: 420px;
    top: 440px;
  }
}
@media all and (min-width: 116em) {
  .pagCreliColorCircle {
    width: 450px;
    top: 420px;
  }
}

@keyframes pagCreliColorCircleAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.pagCreliBk {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 40px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
@media all and (min-width: 48em) {
  .pagCreliBk {
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 80em) {
  .pagCreliBk {
    padding-top: 220px;
  }
}

/*側邊欄區*/
.pagCreliAside-text {
  margin-top: 40px;
  margin-bottom: 40px;
  display: none;
}
@media all and (min-width: 48em) {
  .pagCreliAside-text {
    display: block;
    margin-top: 60px;
    width: 280px;
  }
}
@media all and (min-width: 80em) {
  .pagCreliAside-text {
    width: 340px;
  }
}

/*創作者列表*/
.pagCreli {
  width: 320px;
  margin: 0 auto;
  padding-top: 50px;
}
@media all and (min-width: 48em) {
  .pagCreli {
    margin-left: 30px;
    padding-top: 200px;
    width: 340px;
  }
}
@media all and (min-width: 64em) {
  .pagCreli {
    width: 440px;
    padding-top: 260px;
    margin-left: 120px;
  }
}
@media all and (min-width: 80em) {
  .pagCreli {
    width: auto;
    padding-top: 350px;
    margin-left: 140px;
  }
}
@media all and (min-width: 116em) {
  .pagCreli {
    margin-left: 300px;
    padding-top: 320px;
  }
}

.pagCrelist {
  position: relative;
  margin-bottom: 130px;
  list-style: none;
}
@media all and (min-width: 64em) {
  .pagCrelist {
    margin-bottom: 200px;
  }
}

.pagCrelist-imgBk {
  position: absolute;
  z-index: 2;
  right: -10px;
  bottom: 165px;
  display: block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background: #FFF;
  line-height: 0;
}
@media all and (min-width: 64em) {
  .pagCrelist-imgBk {
    width: 300px;
    height: 300px;
    left: 0px;
    bottom: 0px;
  }
}
@media all and (min-width: 80em) {
  .pagCrelist-imgBk {
    width: 440px;
    height: 440px;
  }
}
@media all and (min-width: 116em) {
  .pagCrelist-imgBk {
    width: 460px;
    height: 460px;
  }
}
.pagCrelist-imgBk:hover {
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
}
.pagCrelist-imgBk:hover .pagCrelist-imgBk--img {
  transform: scale(1.05);
}

.pagCrelist-imgBk--img {
  transition: all 0.3s linear;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  line-height: 0;
}

.pagCrelist-textBk {
  width: 260px;
  height: 260px;
  background: #ffe698;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  animation-delay: 0.5s;
}
@media all and (min-width: 64em) {
  .pagCrelist-textBk {
    width: 260px;
    height: 260px;
    right: -220px;
    bottom: 190px;
  }
}
@media all and (min-width: 80em) {
  .pagCrelist-textBk {
    width: 360px;
    height: 360px;
    right: -350px;
    bottom: 220px;
  }
}
@media all and (min-width: 116em) {
  .pagCrelist-textBk {
    width: 370px;
    height: 370px;
    right: -400px;
    bottom: 230px;
  }
}
.pagCrelist-textBk:hover {
  box-shadow: 0 0.03em rgba(0, 0, 0, 0);
  background: #FFF;
}

.pagCrelist-textBk--tit {
  width: 100%;
  line-height: 1.6;
}

.pagCrelist-textBk--dec {
  font-family: "Lateef", cursive;
  font-weight: normal;
  color: #111520;
  color: #ffcf0c;
  line-height: 0;
  display: block;
  width: 100%;
  position: absolute;
  top: 40px;
  animation-delay: 0.8s;
  font-size: 4.38rem;
}
@media all and (min-width: 80em) {
  .pagCrelist-textBk--dec {
    top: 50px;
  }
}

/*creatorin.php*/
.pagCreinMainBk {
  position: relative;
  z-index: 2;
}
@media all and (min-width: 64em) {
  .pagCreinMainBk {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
}

.pagCreinImgBk {
  position: relative;
  height: auto;
  margin-left: 90px;
  line-height: 0;
}
@media all and (min-width: 48em) {
  .pagCreinImgBk {
    margin-left: 170px;
  }
}
@media all and (min-width: 64em) {
  .pagCreinImgBk {
    width: 50%;
    margin-left: auto;
  }
}
@media all and (min-width: 116em) {
  .pagCreinImgBk {
    height: 100%;
  }
}

.pagCreinImgBk-img {
  width: 100%;
  height: auto;
  opacity: 0.9;
  line-height: 0;
}

.pagCreinSloganBk {
  width: 100%;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 50px;
  position: relative;
}
@media all and (min-width: 64em) {
  .pagCreinSloganBk {
    width: 50%;
    background: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }
}
@media all and (min-width: 80em) {
  .pagCreinSloganBk {
    width: 50%;
    padding-top: 70px;
  }
}
@media all and (min-width: 116em) {
  .pagCreinSloganBk {
    height: 95vh;
  }
}

.pagCreinSloganBk-block {
  width: 100%;
  display: block;
}

.pagCreinSloganBk-dec {
  font-family: "Lateef", cursive;
  font-weight: normal;
  color: #111520;
  color: #ffcf0c;
  line-height: 1;
  display: block;
  width: 100%;
  font-size: 4.38rem;
  margin-bottom: 10px;
}
@media all and (min-width: 48em) {
  .pagCreinSloganBk-dec {
    margin-top: 20px;
  }
}
@media all and (min-width: 64em) {
  .pagCreinSloganBk-dec {
    margin-bottom: 20px;
  }
}
@media all and (min-width: 116em) {
  .pagCreinSloganBk-dec {
    margin-bottom: 30px;
  }
}

.pagCreinSloganBk-slogan {
  margin-bottom: 10px;
}
@media all and (min-width: 116em) {
  .pagCreinSloganBk-slogan {
    margin-bottom: 20px;
  }
}

.pagCreinSloganBk-link {
  margin-top: 30px;
}
@media all and (min-width: 48em) {
  .pagCreinSloganBk-link {
    margin-top: 40px;
  }
}
@media all and (min-width: 64em) {
  .pagCreinSloganBk-link {
    margin-top: 50px;
  }
}
@media all and (min-width: 116em) {
  .pagCreinSloganBk-link {
    margin-top: 60px;
  }
}

/*文編區*/
.pagCreinArticleBk {
  position: relative;
  background: #fff9e7;
  padding-top: 50px;
  padding-bottom: 70px;
  overflow: hidden;
}
@media all and (min-width: 48em) {
  .pagCreinArticleBk {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media all and (min-width: 80em) {
  .pagCreinArticleBk {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}
@media all and (min-width: 116em) {
  .pagCreinArticleBk {
    margin-top: -7vh;
  }
}

.pagCreinArticle-sloganBk {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.pagCreinArticle {
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
@media all and (min-width: 48em) {
  .pagCreinArticle {
    width: 44em;
  }
}
@media all and (min-width: 80em) {
  .pagCreinArticle {
    width: 57em;
  }
}
@media all and (min-width: 116em) {
  .pagCreinArticle {
    width: 62em;
  }
}

.pagCreinArticleCircle01 {
  position: absolute;
  z-index: 1;
  width: 170px;
  height: auto;
  top: -20px;
  left: 20px;
  transform: scale(0, 0);
  opacity: 0;
}
@media all and (min-width: 48em) {
  .pagCreinArticleCircle01 {
    width: 220px;
    top: 50px;
    left: 30px;
  }
}
@media all and (min-width: 64em) {
  .pagCreinArticleCircle01 {
    width: 200px;
    top: 30px;
    left: 140px;
  }
}
@media all and (min-width: 116em) {
  .pagCreinArticleCircle01 {
    width: 220px;
    top: 75px;
    left: 500px;
  }
}

.pagCreinArticleCircle02 {
  position: absolute;
  z-index: 1;
  width: 120px;
  height: auto;
  top: 450px;
  right: 80px;
  transform: scale(0, 0);
  opacity: 0;
}
@media all and (min-width: 48em) {
  .pagCreinArticleCircle02 {
    width: 140px;
    right: 30px;
  }
}
@media all and (min-width: 64em) {
  .pagCreinArticleCircle02 {
    width: 110px;
    top: 220px;
    right: 60px;
  }
}
@media all and (min-width: 116em) {
  .pagCreinArticleCircle02 {
    top: 300px;
    right: 440px;
  }
}

/*履歷區及影片區*/
@media all and (min-width: 64em) {
  .pagCreinResumeVideoBk {
    display: flex;
  }
}

.pagCreinResumeBk {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media all and (min-width: 48em) {
  .pagCreinResumeBk {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media all and (min-width: 64em) {
  .pagCreinResumeBk {
    width: 60%;
  }
}
@media all and (min-width: 116em) {
  .pagCreinResumeBk {
    width: 50%;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.pagCreinResumeBk-titBk {
  margin-bottom: 20px;
}
@media all and (min-width: 48em) {
  .pagCreinResumeBk-titBk {
    margin-bottom: 10px;
  }
}

.pagCreinResumeBk-nameInfoBk {
  width: 100%;
}
@media all and (min-width: 48em) {
  .pagCreinResumeBk-nameInfoBk {
    width: 50%;
    float: left;
  }
}

.pagCreinResumeBk-experBk {
  margin-top: 20px;
}
@media all and (min-width: 48em) {
  .pagCreinResumeBk-experBk {
    margin-top: 40px;
  }
}
@media all and (min-width: 116em) {
  .pagCreinResumeBk-experBk {
    margin-top: 50px;
  }
}

.pagCreinvideoBk {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #ffe698;
}
@media all and (min-width: 64em) {
  .pagCreinvideoBk {
    width: 40%;
  }
}
@media all and (min-width: 116em) {
  .pagCreinvideoBk {
    width: 50%;
  }
}

.pagCreinvideoBk-imgBk {
  width: 100%;
  height: 100%;
  position: relative;
}

.pagCreinvideoBk-imgBk--img {
  width: 100%;
  height: auto;
}
@media all and (min-width: 64em) {
  .pagCreinvideoBk-imgBk--img {
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.pagCreinvideoBk-playBt {
  position: absolute;
  display: block;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.pagCreinvideoBk-playBt:hover {
  box-shadow: inset 0 -0.03em rgba(255, 255, 255, 0);
  transform: scale(1.2);
}

.pagCreinvideoBk-playBt--icon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}
@media all and (min-width: 48em) {
  .pagCreinvideoBk-playBt--icon {
    width: 80px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
}
@media all and (min-width: 116em) {
  .pagCreinvideoBk-playBt--icon {
    width: 110px;
    height: 110px;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
  }
}

.pagCreingGalleryBk {
  width: 100%;
  background: #FFF;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 17px;
  padding-right: 17px;
}
@media all and (min-width: 48em) {
  .pagCreingGalleryBk {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media all and (min-width: 80em) {
  .pagCreingGalleryBk {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media all and (min-width: 116em) {
  .pagCreingGalleryBk {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 114px;
    padding-right: 114px;
  }
}
.pagCreingGalleryBk .owl-theme .owl-dots {
  margin-top: 50px;
  text-align: center;
}
.pagCreingGalleryBk .owl-theme .owl-dots .owl-dot span {
  margin: 0 12px 0 0;
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #e1e1e1;
}
.pagCreingGalleryBk .owl-theme .owl-dots .owl-dot.active span, .pagCreingGalleryBk .owl-theme .owl-dots .owl-dot:hover span {
  background: #d2d2d2;
}

.pagCreingGalleryBk-galleryBk {
  margin-left: 13px;
  margin-right: 13px;
}

.pagCreingGalleryBk-titBk {
  margin-bottom: 20px;
}
@media all and (min-width: 48em) {
  .pagCreingGalleryBk-bigTit {
    text-align: center;
    padding-right: 120px;
  }
}

/*文編內容*/
.textBk {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.textImg {
  width: 100%;
  text-align: center;
  border: 15px solid #FFF;
  height: auto;
  margin: 0 auto 20px auto;
}

.textImgNote {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  line-height: 2;
  font-size: 0.9375rem;
  padding: 0 20px;
  color: #868686;
}
@media all and (min-width: 80em) {
  .textImgNote {
    font-size: 1.0625rem;
  }
}
.textImg, .textImgNote {
  width: 100%;
}
@media all and (min-width: 48em) {
  .textImg, .textImgNote {
    width: 80%;
  }
}

.textArticleTit, .textArticleParagraph {
  margin: 50px auto;
}
.textArticleTit {
  font-family: "Noto Serif TC", serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 600;
  color: #111520;
  line-height: 1.6;
  font-size: 1.25rem;
  line-height: 1.8;
  letter-spacing: 1px;
}
@media all and (min-width: 80em) {
  .textArticleTit {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 116em) {
  .textArticleTit {
    font-size: 1.88rem;
    letter-spacing: 1.2px;
  }
}

.textArticleParagraph {
  text-align: left;
  font-family: "Montserrat", sans-serif, "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 400;
  color: #111520;
  line-height: 1.5;
  letter-spacing: 0px;
  line-height: 2.2;
  font-size: 1.125rem;
}
@media all and (min-width: 80em) {
  .textArticleParagraph {
    font-size: 1.125rem;
  }
}