/*基底通用設定*/
/*zdialog*/
.buttonStyle
	width: 64px
	height: 22px
	line-height: 22px
	color: #ad6c39
	text-align: center
	background: url(images/buticon.gif) no-repeat left top
	border: 0.75em
	&:hover
		background: url(images/buticon.gif) no-repeat left -23px

html
	scroll-behavior: smooth

body
	font-size: 100%
	// @include typoBasic
	// animation: indsecond02Smoke 2s 2.5s 1 normal forwards linear 
	background-image: url(../images/newbg.png)
	// background-size: 50% 
	@include computer
		background-size: auto

.whiteHelfBgArea
	position: relative
	width: 100%
	height: auto
.whiteHelfBg
	display: block
	height: 100%
	@include ipad
		width: 50%
		position: absolute
		// z-index: 1
		background: rgba(255,255,255,0.5)
		// mix-blend-mode: soft-light
		// animation: noise-ani 1.5s ease-in-out 0s infinite alternate none

.yellowHelfBg
	display: block
	height: 100%
	@include computer
		width: 30%
		position: absolute
		// z-index: 1
		background: $main-color-50
	@include maxcom-1920
		width: 25%


@keyframes noise-ani
	50%
		background-position: 800px 600px
	100%
		background-position: -800px -600px


a
	text-decoration: none
	-webkit-transition: all 0.5s ease-in-out
	-moz-transition: all 0.5s ease-in-out
	-o-transition: all 0.5s ease-in-out
	-ms-transition: all 0.5s ease-in-out
	transition: all 0.5s ease-in-out
	color: $black	
	&:hover
		// text-decoration-line: underline
		// box-shadow: inset 0 -0.2em white, inset 0 -0.25em $black
		// box-shadow: inset 0 2em white
		box-shadow: inset 0 -0.03em $black	




/*反白字體*/
::selection 
	background: $main-color
	color: $black

/*按下無藍色框*/
// *
// 	-webkit-tap-highlight-color: rgba(66,125,245,0.54)

/*無障礙focus用*/
// *:focus
	// outline: rgba(255,70,31,0.26) solid medium 
	// border: rgba(213,0,0,0.26) solid medium 
	// box-shadow: 0px 0px 0px 3px  rgba(213,0,0,0.26)
	

/*scrollbar*/
::-webkit-scrollbar
	width: 10px
	height: 8px

::-webkit-scrollbar-thumb
	background: $main-color
	// 可使用
	// border-radius: 10px
	
::-webkit-scrollbar-track
	background: #FFF

::-webkit-scrollbar-thumb:hover 
	background: $main-color-700

/*進度條*/	
// progress[value] 
// 	-webkit-appearance: none
// 	appearance: none
// 	width: 100%
// 	height: 8px


// progress[value]::-webkit-progress-bar 
// 	background-color: $text-gray-200
// 	border-radius: 4px
// 	box-shadow: 0 0 10px rgba(34,34,34,.08) 


// progress[value]::-webkit-progress-value
// 	background: $color-info-500
// 	border-radius: 4px
// 	box-shadow: 0 0 10px rgba(34,34,34,.12) 


/*頁面框架及常用設定*/
.max_width
	width: 100%
	margin: 0 auto
	@include maxcom-1920
		width: $viewport-1920

.com_width
	width: 100%
	margin: 0 auto
	@include computer
		width: $viewport-computer

.clear
	clear: both

.overflow-hidden
	overflow: hidden 

.floatRight
	float: right 

.floatLeft
	float: left 

.ptb-0
	padding-top: 0px 
	padding-bottom: 0px 
.plr-0
	padding-left: 0px 
	padding-right: 0px 
.plr-15
	padding-left: 15px 
	padding-right: 15px 
.plr-20
	padding-left: 20px 
	padding-right: 20px 
.plr-25
	padding-left: 25px 
	padding-right: 25px 
.plr-30
	padding-left: 30px 
	padding-right: 30px 
.pl-5
	padding-left: 5px 
.pl-10
	padding-left: 10px 
.pl-20
	padding-left: 20px 
.pl-30
	padding-left: 30px 
.pr-20
	padding-right: 20px 
.pr-30
	padding-right: 30px 
.pr-60
	padding-right: 60px 
.pr-80
	padding-right: 80px 
.pt-30
	padding-top: 30px 
.pb-40
	padding-bottom: 40px 
.pb-30
	padding-bottom: 30px 
.pb-20
	padding-bottom: 20px 
.pb-10
	padding-bottom: 10px 
.pt-10
	padding-top: 10px 
.pt-15
	padding-top: 15px 
.pt-20
	padding-top: 20px 
.pt-25
	padding-top: 25px 
.pb-15
	padding-bottom: 15px 
.pb-20
	padding-bottom: 20px 
.pb-25
	padding-bottom: 25px 
.pb-40
	padding-bottom: 40px 
.ptb-10
	padding-top: 10px 
	padding-bottom: 10px 
.ptb-20
	padding-top: 20px 
	padding-bottom: 20px 
.ptb-30
	padding-top: 30px 
	padding-bottom: 30px 
.ptb-40
	padding-top: 40px 
	padding-bottom: 40px 
.mt-10
	margin-top: 10px 
.mt-0
	margin-top: 0px 
.mt-5
	margin-top: 5px 
.mt-7
	margin-top: 7px 
.mt-10
	margin-top: 10px 
.mt-12
	margin-top: 12px 
.mt-15
	margin-top: 15px 
.mt-20
	margin-top: 20px 
.mt-25
	margin-top: 25px 
.mt-30
	margin-top: 30px 
.mt-40
	margin-top: 40px 
.mt-50
	margin-top: 50px 
.mt-60
	margin-top: 60px 
.mt-80
	margin-top: 80px 
.mb-5
	margin-bottom: 5px 
.mb-8
	margin-bottom: 8px 
.mb-10
	margin-bottom: 10px 
.mb-12
	margin-bottom: 12px 
.mb-15
	margin-bottom: 15px 
.mb-20
	margin-bottom: 20px 
.mb-25
	margin-bottom: 25px 
.mb-30
	margin-bottom: 30px 
.mb-40
	margin-bottom: 40px 
.mb-50
	margin-bottom: 50px 
.mb-80
	margin-bottom: 80px 
.mb-100
	margin-bottom: 100px 
.mr-5
	margin-right: 5px 
.mr-10
	margin-right: 10px 
.mr-12
	margin-right: 12px 
.mr-20
	margin-right: 20px 
.mr-40
	margin-right: 40px 
.mr-50
	margin-right: 50px 
.ml-10
	margin-left: 10px 
.ml-20
	margin-left: 20px 
.ml-30
	margin-left: 30px 
.ml-40
	margin-left: 40px 
.ml-50
	margin-left: 50px 
.mr-30
	margin-right: 30px 
.mlr-3
	margin-left: 3px 
	margin-right: 3px 
.mlr-5
	margin-left: 5px 
	margin-right: 5px 
.mlr-10
	margin-left: 10px 
	margin-right: 10px 
.mlr-30
	margin-left: 30px 
	margin-right: 30px 
.mtb-0
	margin-top: 0px 
	margin-bottom: 0px 
.mtb-10
	margin-top: 10px 
	margin-bottom: 10px 
.mtb-20
	margin-top: 20px 
	margin-bottom: 20px 
.mtb-40
	margin-top: 40px 
	margin-bottom: 40px 
.mtb-50
	margin-top: 50px 
	margin-bottom: 50px 
.mtb-60
	margin-top: 60px 
	margin-bottom: 60px 
.mtb-80
	margin-top: 80px 
	margin-bottom: 80px 

// box-shadow: inset 0 -0.175em white, inset 0 -0.2em $black
/*flex 排成一排列表*/
@mixin flexNowrap
	display: flex
	flex-wrap: nowrap
	align-items: center


.phone-show
	display: block 
	@include computer 
		display: none 


/*列印隱藏區域*/
.print_hidden
	@include print
		display: none


.display-block
	display: block

.of-hidden
	overflow: hidden

.marginAuto
	margin: 0 auto








