/*按鈕部件*/


/*按鈕設置*/
/*第一款 基本大按鈕*/
@mixin btn-emBt($width,$height,$bt_color,$text_color)
	display: block
	width: $width
	height: $height
	background: $bt_color
	border-radius: 3px
	box-shadow: 0px 2px 5px $shadow_color
	@include text_style
	color: $text_color
	text-align: center
	line-height: $height
	&:hover
		box-shadow: 0px 10px 20px $shadow_color
		transform: translateX(-10px)
		box-shadow:  inset 0 -0.03em none	


@mixin btnBasicBt
	width: 200px
	height: 60px
	line-height: 60px
	color: #ffffff
	font:
		size: $text-16
		weight: 600
	text-align: center
	display: block
	position: relative
.btnRedBt
	@include btnBasicBt
	background: $em-color 
	position: relative
	&:hover
		color: #FFF
		background: $black 

.btnMorebt
	position: relative
	display: table
	&:hover
		box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
		.btnMorebt-circle
			transform: scale(0.5) translateX(360px)
			// border: none
			// background: $main-color
		.btnMorebt-arrow
			transform: scale(0.7) translateX(10px)
	.btnMorebt-circle
		display: inline-block
		width: 110px
		height: 110px
		border-radius: 50%
		border: 1px solid $black
		// box-shadow: 0.03em $black	
		position: absolute
		z-index: 1
		top: -28px
		left: -15px
		transition: all 0.5s ease-in-out
		transform: scale(0.5)
	.btnMorebt-word
		@include typoBasic-notoSans
		font:
			weight: 700
		line-height: 56px
		padding-left: 35px
		padding-right: 10px
		position: relative
		z-index: 2
	.btnMorebt-arrow
		width: 80px
		height: 26px
		vertical-align: middle
		transition: all 0.5s linear
		position: relative
		z-index: 2
		transform: scale(0.7)
.btnEmbt
	display: block
	&:hover
		box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
	.btnEmbt-circle
		width: 130px
		height: auto
		position: absolute
		z-index: 1
		transition: all 0.7s ease-in-out
		opacity: 0
		transform: rotate(-20deg)
		animation: btEmAniCircle 1s 1.5s 1 forwards ease-in-out
	.btnEmbt-arrow
		width: 80px
		height: 26px
		margin-top: 60px
		margin-left: 90px
		transition: all 0.7s ease-in-out
		transform: scale(0.9) translateX(-35px)
		opacity: 0
		animation: btEmAniArrow 0.5s 1.8s 1 forwards linear


@keyframes btEmAniCircle
	0%
		opacity: 0
		transform: rotate(-60deg)
	100%
		opacity: 1
		transform: rotate(0deg)

@keyframes btEmAniArrow
	0%
		transform: scale(0.9) translateX(-35px)
		opacity: 0
	100%
		transform: scale(0.9) translateX(0px)
		opacity: 1
		
.btnGalleryIntro-emText--text
	@include typoBasic-notoSans
	line-height: 2
	font:
		size: $text-18
	display: inline-block
	width: 250px
	height: 250px
	border-radius: 50%
	background: $main-color
	text-align: center
	padding-top: 92px
	opacity: 0
	animation: galleryIntroCircleAni 1.5s 1.7s 1 forwards ease
	transition: all 0.3s linear
	&:hover
		background: rgba(255,255,255,0.6)
		box-shadow: inset 0 -0.03em rgba(255,255,255,0)	

@keyframes galleryIntroCircleAni
	0%
		opacity: 0
	100%
		opacity: 1

// .btnWhiteBt
// 	@include btnBasicBt
// 	border: $gray-line
// 	position: relative
// 	color: $black
// 	&:hover
// 		color: #FFF
// 		background: $color-danger 

// .btnBlackBt
// 	@include btnBasicBt
// 	position: relative
// 	color: #FFF
// 	background: $black
	

// .delBt
// 	min-width: 50px
// 	height: 50px
// 	background: $color-danger 
// 	padding: 14px 0 0 14px
// 	vertical-align: middle
// 	display: inline-block
// 	img

.btnBuyBt
	@include typoBasic-notoSans
	display: inline-block
	width: 260px
	height: 60px
	line-height: 62px
	padding-left: 30px
	padding-right: 30px
	background: $main-color
	font:
		size: $text-16
		weight: 500
	text-align: left
	letter-spacing: 1.2px
	&:hover
		background: $main-color-700
		box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
	&::after
		content: " "
		background: url(../images/newadd-icon.svg)
		float: right
		width: 22.2px
		height: 22px 
		vertical-align: 20px
		margin-top: 20px


.btnLinkBt
	@include typoBasic-notoSans
	display: inline-block
	width: 260px
	height: 60px
	line-height: 62px
	padding-left: 30px
	padding-right: 30px
	background: $main-color
	font:
		size: $text-16
		weight: 500
	text-align: left
	letter-spacing: 1.2px
	&:hover
		background: $main-color-700
		box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
	&::after
		content: " "
		background: url(../images/newlink-icon.svg)
		float: right
		width: 22px
		height: 22px 
		vertical-align: 20px
		margin-top: 20px