/*元素*/
/*照片跟比例外框*/
.eleImgBk
    width: 100%
    height: 100%
    position: relative
    padding-bottom: 56%
    overflow: hidden
    // background: $em-color
    .eleImgBk-img
        position: absolute
        width: 100%
        height: 100%
        border: none
        line-height: 0

/*影片比例高度*/
.eleVideoBk
    width: 100%
    height: 100%
    position: relative
    /*padding top跟 bottom 的高度都是依據width來計算比例*/
    padding-bottom: 56%
    overflow: hidden
    @include maxcom
        padding-bottom: 45%
    @include maxcom-1920
        padding-bottom: 99vh
        // padding-bottom: 38%
    iframe
        position: absolute
        width: 100%
        height: 100%


.testBk
    width: 100%
    height: 100%
    position: relative
    padding-bottom: 56%
    overflow: hidden
    background: $black
    //padding-bottom 跟absolute技巧不受box-sizing影響
    // box-sizing: content-box
    .testBk-img
        position: absolute
        width: 100%
        height: 100%
    

/*分類選項跟麵包屑*/
.eleClassifyBitesBk
    width: 75%
    position: relative
    z-index: 3
    @include maxcom-1920
        width: 25%
        float: right
        // position: absolute
        // bottom: 90px
        // right: 0
.eleClassify
    width: 100%
    height: 70px
    line-height: 69px
    background: $main-color
    border-top: 1px solid rgba(255,255,255,0.24)
    cursor: pointer
    transition: all 0.5s ease-in-out
    display: none
    @include computer
        display: block
    &:hover
        background: $main-color-700
    .eleClassify-tit
        width: 33.3%
        color: $main-color-100
        background: $main-color-700
        float: left
        text-align: center
        @include ipad
            text-align: left
            padding: 0 0 0 30px
        // @include maxcom
        //     width: 50%
        @include maxcom-1920
            width: 25%
    .eleClassify-selBt
        color: #FFF
        width: 66.6%
        color: $main-color-100
        float: left
        font:
            weight: 600
        @include ipad
            // width: 75%
            padding: 0 0 0 30px
        // @include maxcom
        //     width: 50%
        @include maxcom-1920
            width: 75%
        .icon
            transition: all 0.5s ease-in-out
            display: inline-block
            float: right
            font:
                size: $text-14
.eleClassify-sel
    position: absolute
    right: 0
    width: 66.66%
    height: auto
    background: $main-color
    line-height: 60px
    display: none
    font:
        weight: 600
    @include ipad
        width: 75%
    .eleClassify-sel--link
        display: block
        color: #FFF
        &:hover
            background: $black


/*麵包屑*/
.eleBite
    width: 100%
    cursor: pointer
    @include ipad
.eleBite-link
    @include typoBasic-notoSans
    letter-spacing: 1.2px
    line-height: 1.5
    padding-bottom: 3px
    font:
        size: $text-15
    &::after
        content: url(../images/newbite-arrow.svg)
        width: 20px
        height: 20px
        vertical-align: -4px
        margin-left: 2px
        margin-right: 3px
    &:last-of-type
        &::after
            display: none
    // &:hover
        // color: $main-color

// .eleBite-link--icon
//     content: "url(../images/newbite-arrow.svg)"
//     width: 24px
//     height: 24px


                
/*跳頁按鈕*/
.eleSelPageBk
    width: 100%
    margin: 0 auto
    text-align: center
.eleSelPageArrow
    width: 80px
    height: 26px
    display: inline-block
    border: none
    cursor: pointer
    transition: all 0.3s ease-in-out
    vertical-align: -5px
    transform: scale(0.5)
    @include ipad
        width: 90px
        transform: scale(0.6)
.eleSelPageArrow--left
    background: url(../images/newarrow-left.svg) no-repeat
    @include ipad
        // margin-right: 30px
    &:hover
        transform: scale(0.6) translateX(-25px)
.eleSelPageArrow--right
    background: url(../images/newarrow-right.svg) no-repeat
    @include ipad
        // margin-left: 30px
    &:hover
        transform: scale(0.6) translateX(25px)
.eleSelPageCount
    width: 38px
    height: 38px
    background: rgba(0,0,0,0.1)
    text-align: center
    display: inline-block
    border-radius: 50%
    @include typoBasic-notoSans
    line-height: 38px
    font:
        size: $text-15
    // @include ipad
    //     width: 60px
    //     height: 60px
    //     line-height: 58px
    &:hover
        background: rgba(255,255,255,1)
        color: $black
        box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
.eleSelPageCount--pageIn
    background: $main-color
    color: $black
    box-shadow: inset 0 -0.03em rgba(255,255,255,0)	



    
/*附件下載*/
.eleDownloadBt
    width: 100%
    padding: 25px 30px 22px 40px
    background: $main-color
    color: #FFF
    display: block
    font:
        size: $text-18
    line-height: 1.8
    &:nth-last-of-type(2n)
        background: $main-color-700
    &:hover
        background: $em-color
    @include ipad
        width: 50%
    .eleDownloadBt-tit
        padding: 0 20px 0 0
        @include typoBasic
        font:
            size: $text-19
            weight: 600
        letter-spacing: 1.5px
        color: $main-color-100
        // line-height: 1.7
        
