/*首頁*/


/*banner區*/
.indBanner
	position: relative
	width: 100%
	background: #FFF
	line-height: 0
	@include computer
		// margin-top: -50px
	.indBanner-imgBk
		display: block
		width: auto
		margin-left: 90px
		// background: $main-color
		@include ipad
			margin-left: 170px
		@include computer
			width: 55%
			float: right
			margin-left: 0px
		@include maxcom
			width: 52%
		@include maxcom-1920
			width: 50%
			position: absolute
			right: 0
		.indBanner-imgBk--img
			opacity: 0
			position: relative
			z-index: 4
			// transform寫法
			// transform: rotate(-15deg) scale(0.6)
			// transform: rotate(-15deg)
			// transform: scale(0.8)
			// box-shadow: 0px 30px 90px  rgba(208,169,22,0.12)
	.indBanner-titArea
		padding-top: 30px
		padding-bottom: 40px
		opacity: 0
		position: relative
		z-index: 2
		@include computer
			width: 45%
			float: left
			padding-top: 150px
			padding-bottom: 60px
		@include maxcom
			padding-top: 220px
			width: 48%
		@include maxcom-1920
			padding-top: 250px
			min-height: 95vh
		.indBanner-titArea--tit
			margin-bottom: 25px
			display: inline-block
			&:hover
				// box-shadow: inset 0 -0.175em white, inset 0 -0.2em $black	
			@include ipad
				margin-bottom: 40px
				margin-right: 60px
			@include computer
				margin-right: 0px
			@include maxcom
			@include maxcom-1920
				margin-top: -40px
				margin-bottom: 50px
				margin-right: 40px
		.indBanner-titArea--btArea
			display: none
			@include maxcom-1920
				display: block
				margin-top: 70px
				margin-left: 85px

			

//畫作區
.indGalleryArea
	background: $main-color-50
	overflow: hidden
	padding-bottom: 20px
	position: relative
	z-index: 2
	@include maxcom
		padding-bottom: 70px
.indGalleryIntro
	padding-top: 30px
	padding-bottom: 50px
	position: relative
	@include ipad
		padding-top: 50px
		padding-bottom: 70px
		overflow: hidden
	@include maxcom
		padding-top: 70px
		padding-bottom: 50px
	@include maxcom-1920
		padding-top: 110px
	.indGalleryIntro-titArea
		position: relative
		z-index: 2
		@include maxcom-1920
			width: auto
			float: left
			margin-right: 140px
			margin-top: 80px
	.indGalleryIntro-emText
		position: absolute
		z-index: 1
		top: 80px
		right: -40px
		@include ipad
			position: relative
			float: right
			margin-right: 50px
			top: -10px
			right: 0px
		@include maxcom
			top: -40px
		@include maxcom-1920
			top: 50px
			right: 20px
		.indGalleryIntro-emText--bt
			display: none
			@include ipad
				display: block
				position: absolute
				z-index: 2
				right: -50px
				bottom: -20px
	.indGalleryIntro-text
		padding-top: 230px
		position: relative
		z-index: 2
		opacity: 0
		animation: indGalleryIntroTextAni 1.2s 1.5s 1 forwards ease
		@include ipad
			width: 300px
			float: left
			padding-top: 50px
		@include maxcom
			width: 28em
		@include maxcom-1920
			width: 22em
			padding-top: 60px



@keyframes indGalleryIntroTextAni
	0%
		opacity: 0
	100%
		opacity: 1

.indGalleryListarea
	width: 80%
	margin: 0 auto
	position: relative
	z-index: 2
	@include ipad
		width: 100%
	@include computer
	@include maxcom
	.indGalleryListarea-column
		width: 100%
		margin: 0 auto
		// column-gap: none
		// column-count: 1
		@include ipad
			// column-count: 2
			// column-gap: 40px
			display: grid
			grid-template-columns: 1fr 1fr
			grid-column-gap: 40px
		@include maxcom
			grid-template-columns: 1fr 1fr 1fr 1fr
			grid-column-gap: 20px
		@include maxcom-1920
			grid-column-gap: 30px

.indGalleryLi
	@include computer
		animation-delay: 1.8s 



//展覽區
.indExhiArea
	padding-top: 40px
	padding-bottom: 40px 
	@include ipad
		padding-top: 60px
	@include maxcom-1920
		padding-top: 100px
	//輪播dot
	.owl-theme .owl-dots
		// text-align: center 
		text-align: right
	.owl-theme .owl-dots .owl-dot span
		margin: 0 12px 0 0
		display: inline-block 
		border-radius: 50%
		width: 10px 
		height: 10px
		background: rgba(225,225,225,1)
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
		background: rgba(210,210,210,1)

.indExhi
	position: relative
	.indExhi-enTit
		margin-bottom: 20px
		@include maxcom
			width: 40%
			float: right
		@include maxcom-1920
			width: 40%
			float: right
			padding-right: 90px
	.indExhi-infoArea
		width: 100%
		height: auto
		margin-bottom: 30px
		padding-top: 20px
		@include ipad
			padding-top: 40px
		@include maxcom
			width: 40%
			float: right
			padding-top: 10px
			margin-bottom: 10px
		@include maxcom-1920
			width: 40%
			padding-right: 90px
		.indExhi-infoArea--tit
			padding-bottom: 15px
			@include ipad
				padding-bottom: 40px
			@include maxcom
	.indExhi-photoArea
		@include maxcom
			width: 60%
			float: left
			padding-right: 100px
		@include maxcom-1920
			padding-left: 50px
			padding-right: 110px
		.indExhi-photoArea--year
			display: inline-block
			margin-bottom: 10px
			@include ipad
				margin-top: 15px
			@include maxcom-1920
				margin-top: 25px
		.indExhi-photoArea--date
			letter-spacing: -0.5px
			position: relative
			z-index: 2
			@include maxcom-1920
				margin-left: 140px
		.indExhi-photoArea--photo
			display: block
			position: relative
			z-index: 1
			width: 100%
			height: auto
			border: 12px solid #FFF
			transition: all 0.5s ease-in-out
			margin-top: -20px
			background: $main-color
			@include ipad
				margin-top: -40px
				border: 25px solid #FFF
				margin-left: 100px
				width: calc(100% - 100px)
			@include maxcom-1920
				margin-top: -55px
				margin-left: 120px
				width: calc(100% - 120px)
			&:hover
				mix-blend-mode: luminosity

				

//周邊商品區
.indProArea
	padding-bottom: 40px 
	overflow: hidden
	@include maxcom-1920
		padding-top: 50px

.indProInfoArea
	position: relative
	z-index: 2
	@include ipad
		width: 300px
		float: right
	@include maxcom
		width: 330px
	@include maxcom-1920
		width: 420px
		margin-right: 120px
	.indProInfoArea--enTit
	.indProInfoArea--chTit
	.indProInfoArea--text
		margin-top: 30px 
		@include ipad
			width: 290px
		@include maxcom
			width: 100%
		@include maxcom-1920
			margin-top: 50px 
	.indProInfoArea--btArea
		display: none
		@include ipad
			display: block
			padding-top: 60px
			margin-left: -35px

.indProListBk
	width: 80%
	margin: 0 auto
	padding-top: 30px 
	@include ipad
		width: 50%
		float: left
		padding-right: 40px
		margin-top: -20px
	@include computer
		width: 65%
		padding-right: 0px
	@include maxcom-1920
		padding-left: 130px
		padding-right: 30px
	.owl-theme .owl-dots
		// text-align: center 
		text-align: left
	.owl-theme .owl-dots .owl-dot span
		margin: 20px 12px 0 0
		display: inline-block 
		border-radius: 50%
		width: 10px 
		height: 10px
		background: rgba(225,225,225,1)
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
		background: rgba(210,210,210,1)

.indProList
	padding-bottom: 10px 
	width: 100%
	list-style-type: none
	@include computer
		padding-left: 25px
		padding-right: 25px
	@include maxcom-1920
		padding-left: 40px
		padding-right: 40px
	.indProList-imgbk
		display: block
		.indProList-imgbk--img
			width: 100%
			height: 100%
			transition: all 0.5s ease-in-out
		&:hover
			box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
			.indProList-imgbk--img
				//顯示png不規則狀陰影
				//drop shadow
				filter: drop-shadow(10px 15px 0px $text-gray-100)
	.indProList-tit
		display: inline-block
		// text-align: center
		padding-top: 10px
	.indProList-priceArea
		padding-top: 25px
		.indProList-priceArea--unit
			font:
				weight: 500
			letter-spacing: 1.2px
		.indProList-priceArea--price
			display: inline-block
			@mixin typoBasic-notoSans
			// box-shadow: inset 0 -0.175em white, inset 0 -0.2em $black
			border-bottom: 1px solid $black
			padding-bottom: 5px
			font:
				family: $text-style-notoSans
				size: $text-20
				weight: 700
			color: $black
			letter-spacing: 0.5px
		

.indColorCircle
	display: none
	@include ipad
		display: block
		position: fixed
		z-index: 1
		width: 140px
		height: auto
		bottom: 220px
		left: 12%
		transform: scale(0, 0)
		opacity: 0
		