/*模組區*/
/*文章小標題分區模組*/
.mod-decTitArea
	.mod-decTitArea--tit
		display: none
		@include ipad
			display: block
			float: left
			width: 70px
			// padding-right: 70px
			// margin-top: 12px
		@include computer
			// width: 30px
		@include maxcom-1920
			// width: 50px
	.mod-decTitArea--content
		@include ipad
			margin-left: 120px
		@include computer
			margin-left: 100px
		@include maxcom-1920
			margin-left: 120px

/*畫作列表模組*/
.mod-galleryli
	width: auto
	margin-top: 40px
	// margin-bottom: 35px
	list-style: none
	animation-delay: 0.8s
	position: relative
	// margin-left: 25px
	// margin-right: 25px
	@include computer
		animation-delay: 1.2s
.mod-galleryli-imgBg
	display: block
	width: 100%
	height: auto
	background: $main-color
	line-height: 0
	overflow: hidden
	&:hover
		box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
		.mod-galleryli-imgBg--img
			transform: scale(1.08)
			transition: all 0.5s ease-in-out
	.mod-galleryli-imgBg--img
		transition: all 0.5s ease-in-out
		width: 100%
		height: auto
.mod-galleryli-tit
	margin-top: 20px
	margin-bottom: 15px
	@include maxcom-1920
		margin-top: 27px
		margin-bottom: 22px
.mod-galleryli-info
.mod-galleryli-label
	display: block
	position: absolute
	background: rgba(255,207,12,1)
	// float: right
	right: -12px
	top: -30px
	z-index: 6
	width: 100px
	height: 100px
	border-radius: 50%
	// border: 1px solid $black
	@include typoBasic-notoSans
	font:
		weight: 500
	line-height: 100px
	text-align: center
	font:
		size: $text-16

//字符動畫
.modLetterAniArea
	position: relative
	// overflow: hidden
.modLetterAniArea-blank
	padding: 0 15px 0 0
	@include ipad
		padding: 0 25px 0 0
.modLetterAniArea-letter
	position: relative
	animation: modLetterAni 0.5s 0.1s 1 forwards ease
	color: $main-color-200
	// letter-spacing: -30px
	@for $i from 1 through 20
		&:nth-of-type(#{$i})
			animation-delay: $i*0.07s

.modLetterAniArea-letter--en
	letter-spacing: -13px
	@include ipad
		letter-spacing: -20px
	@include maxcom-1920
		letter-spacing: -30px
.modLetterAniArea-letter--ch
	letter-spacing: -6px
	@include ipad
		letter-spacing: -8px
	@include maxcom-1920
		letter-spacing: -10px


@keyframes modLetterAni
	0%
		color: $main-color-200
	100%
		
		color: $black

/*側邊欄區*/
.modAside
	width: 100%
	position: relative
	margin-bottom: 50px
	@include ipad   
		/*288px*/
		width: 18em
		float: left
/*頁面標題*/
.modAsideAside-titArea
	position: relative
	z-index: 3
	/*700px*/
	@include ipad
		width: 43em
	@include computer
		width: 45em



/*loghtbox 模組*/
/* Unopened modLightbox */
.modLightbox 
	display: none
	transform: all 1s linear
	opacity: 0
/* Opened modLightbox */
.modLightbox:target
	opacity: 1 
	position: fixed
	z-index: 7
	left: 0
	top: 0
	width: 100%
	height: 100vh
	display: flex
	align-items: center
	justify-content: center
	background: rgba(0,0,0,0.8)
/* modLightbox content */
.modLightbox-contentBk
	width: 90vw
	height: auto
	@include maxcom
	width: 75vw
.modLightbox-content 
	width: 100%
	height: 70vh
	overflow-y: auto
	position: relative
	z-index: 9
/* Close button */
.modLightbox-close 
	position: relative
	display: block
.modLightbox-close 
	&::after 
		right: 0px
		top: -60px
		width: 40px
		height: 40px
		position: absolute
		display: flex
		z-index: 8
		align-items: center
		justify-content: center
		background-color: $main-color
		border-radius: 50%
		color: $black
		content: "✕"
		cursor: pointer
/* modLightbox overlay */
.modLightbox-close
	&::before 
		left: 0
		top: 0
		width: 100%
		height: 100%
		position: fixed
		content: ""
		cursor: default
