/*page*/

/*galleryli.php*/ 
.pagGalliBk
    width: 100%
    padding-top: 120px
    padding-bottom: 40px
    margin: 0 auto
    position: relative
    z-index: 2
    overflow: hidden
    @include ipad
        padding-top: 200px
        display: flex
        flex-wrap: wrap
    @include maxcom
        padding-top: 220px

/*強調按鈕*/
.pagGalliAside-emBtArea
    display: none
    @include ipad
        display: block
        position: relative
        left: -62px
        // top: 180px
    @include maxcom-1920
        left: -30px
/*分類側邊攔*/
.pagGalliAside-sideBk
    display: none
    @include ipad
        display: block
        margin-top: 50px
.pagGalliAside-sideBk--sectionTit
    letter-spacing: 0px
    @include typoBasic-notoSans
    color: $main-color
    font:
        size: $text-17
        weight: 600
    letter-spacing: 1px
.pagGalliAside-sideBk--link
    @include typoBasic-notoSans
    line-height: 46px
    font:
        size: $text-17
        weight: 400
    letter-spacing: 1px
    padding-bottom: 5px
    &::after
        content: " "
        display: block
.pagGalliAside-sideBk--link--act
    box-shadow: inset 0 -0.03em $black	

/*畫作列表*/
.pagGalliList
    margin: 0 auto
    @include ipad
        width: calc(100% - 18em)
        // float: left
        margin-top: 60px
    @include computer
        padding-left: 30px
    @include maxcom
        padding-left: 100px
    @include maxcom-1920
        margin-top: 80px
        padding-left: 150px
.pagGalliList-column
    width: 80%
    margin: 0 auto
    @include ipad
        width: 100%
        // display: grid
        // grid-template-columns: 1fr 1fr
        // grid-column-gap: 30px
    @include computer
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 35px
    @include maxcom-1920
        // grid-column-gap: 60px
        grid-template-columns: 1fr 1fr 1fr
    //     grid-column-gap: 20px
    // @include maxcom-1920
    //     grid-column-gap: 25px

/*畫作列表分頁*/
.pagGalliPageBk
    width: 100%
    margin-top: 40px
    // margin-bottom: 60px


/*galleryin.php*/ 
.pagGalinBk
    position: relative
    z-index: 2

.pagGalinPaintingBK
    width: 100%
    @include computer
        background: $main-color-50
        width: 50%
        position: fixed
        z-index: 3
        right: 0
    @include maxcom
        width: 50%
        height: 100vh
        bottom: 0
    @include maxcom-1920
        // padding-top: 230px
        // display: flex
        // justify-content: center
        // align-content: center
        // align-items: center
.pagGalinPaintingBK-zoomBtBk
    display: none
    @include computer
        display: block
        position: absolute
        z-index: 2
        right: 100px 
        top: 103%
    @include maxcom
        top: 5%
    @include maxcom-1920
        top: 70px
        right: 100px 
    &:hover
        box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
        .pagGalinPaintingBK-zoomBtBk--text
            box-shadow: inset 0 -0.03em rgba(0,0,0,1)	
.pagGalinPaintingBK-zoomBtBk--icon
    vertical-align: middle
    padding-right: 12px
.pagGalinPaintingBK-zoomBtBk--text
    display: inline-block
    vertical-align: middle

.pagGalinPainting-imgBk
    display: block
    width: auto
    line-height: 0
    overflow: hidden
    transition: all 0.5s ease-in-out
    margin-left: 90px
    @include ipad
        margin-left: 170px
    @include computer
        margin-left: 0
        text-align: left
    @include maxcom
        position: absolute
        bottom: 0
    @include maxcom-1920
        // left: -60px
    &:hover
        box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
        .pagGalinPainting-imgBk--img
            transform: scale(1.08)
.pagGalinPainting-imgBk--img
    width: 100%
    height: auto
    transition: all 0.5s ease-in-out
    position: relative
    z-index: 7
    @include computer
        z-index: 1
        

.pagGaliBuyInfoBg
    display: none
    @include computer
        display: block
        position: fixed
        top: 0
        width: 60%
        background: #FFF
        z-index: -1
    @include maxcom
        width: 50%


.pagGaliBuyInfoBk
    text-align: center
    padding-top: 40px
    padding-bottom: 40px
    position: relative
    @include computer
        width: 50%
        background: #FFF
        display: flex
        flex-wrap: wrap
        align-content: center
    @include maxcom
        width: 50%
        padding-top: 100px
    @include maxcom-1920
        padding-top: 150px
.pagGaliBuyInfoBk-content
    width: 100%
    display: block
    text-align: center

.pagGaliBuyInfoBk-content--price
    @mixin typoBasic-enTit
    font:
        size: $text-28
    letter-spacing: 0.5px
    @include ipad
        font:
            size: $text-34
        letter-spacing: 1.5px
    @include computer
    @include maxcom
    @include maxcom-1920
        font:
            size: $text-50
.pagGaliBuyInfoBk-content--buyBt
    margin-top: 30px
    @include computer
        margin-top: 40px

.pagGaliBuyInfoBk--decLine
    display: none
    @include maxcom
        width: 1px 
        height: 0px
        background: $black
        // box-shadow: 1px 0px 0.01em $black	
        display: block
        position: absolute
        bottom: 100px
        margin-left: 50%
        transform: scale(0.6)
.pagGaliBuyInfoBk--soldLabel
    width: 130px
    height: 130px
    border-radius: 50%
    background: $main-color
    display: flex
    flex-wrap: wrap
    align-content: center
    text-align: center
    margin: 0 auto
    margin-top: 30px
    // transform: rotate(15deg)
    transform: scale(0,0)
    opacity: 0
    @include ipad
        position: absolute
        left: 40px
        top: -80px
        width: 160px
        height: 160px
    @include computer
        right: -290px
        top: 230px
        width: 130px
        height: 130px
    @include maxcom
        right: -300px
        top: 200px
        width: 190px
        height: 190px
    @include maxcom-1920
        right: -420px
        top: 240px
.pagGaliBuyInfoBk--soldLabel--en
    color: $main-color-300
    width: 100%
.pagGaliBuyInfoBk--soldLabel--ch
    width: 100%


.pagGalinLeftBk
    width: 100%
    position: relative
    z-index: 2
    padding-top: 30px
    @include computer
        padding-top: 70px
        padding-bottom: 100px
        width: 50% 
        // background: rgba(255,255,255,0.5)
    @include maxcom
        width: 50%
        padding-top: 130px
        padding-bottom: 200px
.pagGalinLeft-paintingInfo
    overflow: hidden
.pagGalinLeft-paintingInfo--bk
    margin-bottom: 30px
    @include ipad
        margin-bottom: 40px
    @include computer
        margin-bottom: 60px
.pagGalinLeft-paintingInfo--column
    width: 100%
    @include ipad
        width: 50%
        float: left

.pagGalinLeft-paintingInfo--creatorBk
    padding-top: 20px
    display: flex
    justify-content: space-between
    align-items: center
    @include ipad
        // margin-top: 60px
        justify-content: start
.pagGalinCreatorImgBk
    width: 160px
    height: 160px
    border-radius: 50%
    overflow: hidden
    display: block
    background: #FFF
    margin-right: 30px
    @include ipad
        width: 200px
        height: 200px
        margin-right: 80px
    @include computer
        width: 160px
        height: 160px
        margin-right: 40px
    @include maxcom
        width: 200px
        height: 200px
        margin-right: 80px
    &:hover
        box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
        background: $main-color
        .pagGalinCreatorImgBk--Img
            // mix-blend-mode: soft-light
            transition: all 0.3s linear
            transform: scale(1.05)
            opacity: 1
.pagGalinCreatorImgBk--Img
    width: 100%
    height: 100%
    opacity: 0.9
.pagGalinCreatorName
    @include typoBasic
    font:
        size: $text-24
    letter-spacing: 1px
    text-align: center
.pagGalinCreatorName-a
    box-shadow: inset 0 -0.03em $black	


/*creatorli.php*/ 
.pagCreliColorCircle
    display: none
    @include ipad
        display: block
        position: fixed
        z-index: 1
        width: 368px
        bottom: 220px
        height: auto
        left: -100px
        transform: scale(0, 0)
        opacity: 0
        top: 500px
        // animation: pagCreliColorCircleAni 230s linear 1s infinite normal forwards
    @include computer
        top: 600px
    @include maxcom
        width: 420px
        top: 440px
    @include maxcom-1920
        width: 450px
        top: 420px

@keyframes pagCreliColorCircleAni
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(-360deg)

		
.pagCreliBk
    width: 100%
    padding-top: 120px
    padding-bottom: 40px
    margin: 0 auto
    position: relative
    z-index: 2
    overflow: hidden
    @include ipad
        padding-top: 200px
        display: flex
        flex-wrap: wrap
    @include maxcom
        padding-top: 220px

/*側邊欄區*/
.pagCreliAside-text
    margin-top: 40px
    margin-bottom: 40px
    display: none
    // width: 330px
    @include ipad
        display: block
        margin-top: 60px
        width: 280px
    @include maxcom
        width: 340px
    
/*創作者列表*/
.pagCreli
    width: 320px
    margin: 0 auto
    padding-top: 50px
    @include ipad
        margin-left: 30px
        padding-top: 200px
        width: 340px
    @include computer
        width: 440px
        padding-top: 260px
        margin-left: 120px
    @include maxcom
        width: auto
        padding-top: 350px
        margin-left: 140px
    @include maxcom-1920
        margin-left: 300px
        padding-top: 320px
.pagCrelist
    position: relative
    margin-bottom: 130px
    list-style: none
    @include computer
        margin-bottom: 200px
.pagCrelist-imgBk
    position: absolute
    z-index: 2
    right: -10px
    bottom: 165px
    display: block
    width: 150px
    height: 150px
    overflow: hidden
    border-radius: 50%
    background: #FFF
    line-height: 0
    @include computer
        width: 300px
        height: 300px
        left: 0px
        bottom: 0px
    @include maxcom
        width: 440px
        height: 440px
    @include maxcom-1920
        width: 460px
        height: 460px
    &:hover
        box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
        .pagCrelist-imgBk--img
            transform: scale(1.05)
.pagCrelist-imgBk--img
    transition: all 0.3s linear
    width: 100%
    height: 100%
    opacity: 0.9
    line-height: 0
.pagCrelist-textBk
    width: 260px
    height: 260px
    background: $main-color-300
    border-radius: 50%
    position: relative
    z-index: 1
    text-align: center
    display: flex
    flex-wrap: wrap
    align-content: center
    justify-content: center
    animation-delay: 0.5s
    @include computer
        width: 260px
        height: 260px
        right: -220px
        bottom: 190px
    @include maxcom
        width: 360px
        height: 360px
        right: -350px
        bottom: 220px
    @include maxcom-1920
        width: 370px
        height: 370px
        right: -400px
        bottom: 230px
    &:hover
        box-shadow:  0 0.03em rgba(0,0,0,0)	
        background: #FFF
.pagCrelist-textBk--tit
    width: 100%
    line-height: 1.6
.pagCrelist-textBk--dec
    @include typoBasic-enTit
    color: $main-color
    line-height: 0
    display: block
    width: 100%
    position: absolute
    top: 40px
    animation-delay: 0.8s
    font:
        size: $text-70
    @include maxcom
        top: 50px


/*creatorin.php*/
.pagCreinBk

.pagCreinMainBk
    position: relative
    z-index: 2
    @include computer
        display: flex
        flex-wrap: nowrap
        flex-direction: row-reverse

.pagCreinImgBk
    position: relative
    height: auto
    margin-left: 90px
    line-height: 0
    @include ipad
        margin-left: 170px
    @include computer
        width: 50%
        margin-left: auto
    @include maxcom-1920
        height: 100%
.pagCreinImgBk-img
    width: 100%
    height: auto
    opacity: 0.9
    line-height: 0

.pagCreinSloganBk
    width: 100%
    text-align: center
    padding-top: 0px
    padding-bottom: 50px
    position: relative
    @include computer
        width: 50%
        background: #FFF
        display: flex
        flex-wrap: wrap
        align-content: center
        align-items: center
    @include maxcom
        width: 50%
        padding-top: 70px
    @include maxcom-1920
        height: 95vh
.pagCreinSloganBk-block
    width: 100%
    display: block
.pagCreinSloganBk-dec
    @include typoBasic-enTit
    color: $main-color
    line-height: 1
    display: block
    width: 100%
    font:
        size: $text-70
    margin-bottom: 10px
    @include ipad
        margin-top: 20px
    @include computer
        margin-bottom: 20px
    @include maxcom-1920
        margin-bottom: 30px
.pagCreinSloganBk-slogan
    margin-bottom: 10px
    @include maxcom-1920
        margin-bottom: 20px
.pagCreinSloganBk-link
    margin-top: 30px
    @include ipad
        margin-top: 40px
    @include computer
        margin-top: 50px
    @include maxcom-1920
        margin-top: 60px

/*文編區*/
.pagCreinArticleBk
    position: relative
    background: $main-color-50
    padding-top: 50px 
    padding-bottom: 70px 
    overflow: hidden
    @include ipad
        padding-top: 70px 
        padding-bottom: 70px 
    @include maxcom
        padding-top: 120px 
        padding-bottom: 100px 
    @include maxcom-1920
        margin-top: -7vh
.pagCreinArticle-sloganBk
    margin: 0 auto
    width: 100% 
    margin-bottom: 50px
    text-align: center

.pagCreinArticle
    position: relative
    z-index: 2
    margin: 0 auto
    @include ipad
        // 704px
        width: 44em
    @include maxcom
        //912px
        width: 57em
    @include maxcom-1920
        //960px
        width: 62em

.pagCreinArticleCircle01
    position: absolute
    z-index: 1
    width: 170px
    height: auto
    top: -20px
    left: 20px
    transform: scale(0,0)
    opacity: 0
    @include ipad
        width: 220px
        top: 50px
        left: 30px
    @include computer
        width: 200px
        top: 30px
        left: 140px
    @include maxcom-1920
        width: 220px
        top: 75px
        left: 500px

    
.pagCreinArticleCircle02
    position: absolute
    z-index: 1
    width: 120px
    height: auto
    top: 450px
    right: 80px
    transform: scale(0,0)
    opacity: 0
    @include ipad
        width: 140px
        right: 30px
    @include computer
        width: 110px
        top: 220px
        right: 60px
    @include maxcom-1920
        // width: 110px
        top: 300px
        right: 440px

/*履歷區及影片區*/
.pagCreinResumeVideoBk
    @include computer
        display: flex

.pagCreinResumeBk
    width: 100%
    // background: rgba(255,255,255,0.5)
    padding-top: 40px
    padding-bottom: 40px
    @include ipad
        padding-top: 60px
        padding-bottom: 60px
    @include computer
        width: 60%
    @include maxcom-1920
        width: 50%
        padding-top: 80px
        padding-bottom: 80px
    
.pagCreinResumeBk-titBk
    margin-bottom: 20px
    @include ipad
        margin-bottom: 10px

.pagCreinResumeBk-nameInfoBk
    width: 100%
    @include ipad
        width: 50%
        float: left
.pagCreinResumeBk-experBk
    margin-top: 20px
    @include ipad
        margin-top: 40px
    @include maxcom-1920
        margin-top: 50px

.pagCreinvideoBk
    width: 100%
    position: relative
    overflow: hidden
    // background: rgba(255,255,255,0.5)
    // background: $black
    background: $main-color-300
    @include computer
        width: 40%
    @include maxcom-1920
        width: 50%
.pagCreinvideoBk-imgBk
    width: 100%
    height: 100%
    position: relative
.pagCreinvideoBk-imgBk--img
    width: 100%
    height: auto
    @include computer
        width: 100%
        height: auto
        position: absolute
        margin:  auto
        left: 0
        right: 0
        top: 0
        bottom: 0
        // 使用 object-fit: cover 如果要讓圖片滿版 就不可設定寬高
        // object-fit: cover

.pagCreinvideoBk-playBt
    position: absolute
    display: block
    z-index: 2
    width: 100%
    height: 100%
    &:hover
        box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
        transform: scale(1.2)
.pagCreinvideoBk-playBt--icon
    position: absolute
    width: 60px
    height: 60px
    top: calc(50% - 30px)
    left: calc(50% - 30px)
    @include ipad
        width: 80px
        height: 80px
        top: calc(50% - 40px)
        left: calc(50% - 40px)
    @include maxcom-1920
        width: 110px
        height: 110px
        top: calc(50% - 65px)
        left: calc(50% - 65px)


.pagCreingGalleryBk
    width: 100%
    background: #FFF
    padding-top: 40px
    padding-bottom: 50px
    padding-left: 17px
    padding-right: 17px
    @include ipad
        padding-left: 24px
        padding-right: 24px
    @include maxcom
        padding-left: 74px
        padding-right: 74px
    @include maxcom-1920
        padding-top: 80px
        padding-bottom: 40px
        padding-left: 114px
        padding-right: 114px
    //輪播dot
    .owl-theme .owl-dots
        margin-top: 50px
        text-align: center 
        // text-align: right
    .owl-theme .owl-dots .owl-dot span
        margin: 0 12px 0 0
        display: inline-block 
        border-radius: 50%
        width: 10px 
        height: 10px
        background: rgba(225,225,225,1)
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
        background: rgba(210,210,210,1)

.pagCreingGalleryBk-galleryBk
    margin-left: 13px
    margin-right: 13px

.pagCreingGalleryBk-titBk
    margin-bottom: 20px
    @include ipad
        // margin-bottom: 40px
    @include maxcom-1920
        // margin-bottom: 50px

.pagCreingGalleryBk-bigTit
    @include ipad
        text-align: center
        padding-right: 120px

