//網站框架
			

//頁面loading特效
.patLoading
	z-index: 4
	position: fixed
	width: 100%
	height: 100vh
	background: $main-color-50
	// background: #FFF
	overflow: hidden

.indloadingHide
	animation: loadingHideBgAni 0.5s 1s 1 normal forwards ease-in-out
@keyframes loadingHideBgAni
	0%
		opacity: 1
	100%
		background: none
		opacity: 0

.indloadingHide-block
	animation: loadingHideAni 1s 0s 1 normal forwards ease-in-out
@keyframes loadingHideAni
	0%
		opacity: 1
		width: 25%
	100%
		width: 0%
		opacity: 0

.patLoading-color01
	position: absolute
	width: 85px
	height: auto
	right: 40px
	top: 70px
	transform: scale(0, 0)
	opacity: 0
	@include ipad
		width: 150px
		right: 60px
		top: 100px
	@include maxcom
		width: 180px
		right: 200px
		top: 120px
	@include maxcom-1920
		top: 260px
		right: 340px

		
.patLoading-color02
	position: absolute
	width: 80px
	height: auto
	right: 60px
	bottom: 80px
	transform: scale(0, 0)
	opacity: 0
	@include ipad
		width: 150px
		right: 160px
	@include maxcom
		width: 160px
		left: 520px
		bottom: 160px
	@include maxcom-1920
		left: 500px
		bottom: 200px

	
.patLoading-color03
	position: fixed
	z-index: 5
	width: 260px
	height: auto
	top: calc(50% - 150px)
	left: calc(50% - 140px)
	transform: scale(0, 0)
	opacity: 0
	animation: patColorCircleAni 230s linear 3s infinite normal forwards
	@include ipad
		width: 368px
		top: 270px
		left: calc(50% - 190px)
		// left: -250px


@keyframes patColorCircleAni
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(-360deg)

//logo
.patLogo
	margin-left: calc(50% - 27px)
	position: fixed
	z-index: 6
	top: calc(50% - 30px)
	transition: all 0.2 linear
	@include ipad
		margin-left: calc(50% - 50px)
		margin-top: 10px
		top: calc(50% - 60px)
	@include maxcom
		margin-top: 20px
	&:hover
		// opacity: 0.4
		.patLogo-circle
			animation-play-state: paused
	.patLogo-circle
		width: 60px 
		height: auto
		position: absolute
		opacity: 0
		@include ipad
			width: 100px 
	.patLogo-logo
		width: 30px 
		height: auto
		position: absolute
		left: 15px
		top: 20px
		@include ipad
			width: 45px
			left: 27px
			top: 35px


		

// .pat-js-logoCircleShowAni
// 	//animation在同一個物件作用時，不管多加幾個class，都會被覆蓋
// 	animation: patLogoCircleShowAni 1s linear 0.4s 1 normal forwards

// @keyframes patLogoCircleShowAni
// 	0%
// 		opacity: 0
// 	100%
// 		opacity: 1

.pat-js-logoCircleAni
	animation: patLogoCircleAni 40s linear 0.4s infinite normal forwards

@keyframes patLogoCircleAni
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)


//header
.patheaderBk
	// width: 100%
	position: fixed
	top: 30px
	z-index: 3
	@include ipad
		top: 40px
	// @include 

		

.patheaderBt
	padding-top: 15px
	margin-left: 30px
	cursor: pointer
	border: 0
	background: none
	padding: 0
	float: left
	position: absolute
	transition: all 0.2s linear
	@include ipad
		padding-top: 25px
		margin-left: 50px
	@include maxcom-1920
		margin-left: 140px
	&:hover
		opacity: 0.4
		// filter: drop-shadow(1px 1px 1px $text-gray)
	.patheaderBt-icon
		width: 30px
		height: auto
		@include ipad
			width: 48px
		// @include maxcom
		// 	margin: 40px 0 0 20px
		// 	width: 70px 
		// 	height: 70px
		// @include maxcom-1920
		// 	width: 85px 
		// 	height: 85px
		// 	margin: 35px 0 0 0px

.patheaderLink
	display: none
	@include maxcom
		display: block
		width: auto
		position: relative
		left: 150px
		top: 40px
		// float: left
	@include maxcom-1920
		left: 260px
	.patheaderLink-link
		@include maxcom
		display: inline-block
		@include typoBasic-notoSans
		font:
			size: $text-16
			weight: 500
		letter-spacing: 1px
		margin-right: 30px
		@include maxcom-1920
			margin-right: 55px
			font:
				size: $text-17


.patnavBk
	width: 100%
	height: 100%
	overflow: hidden
	// background-image: linear-gradient(90deg, rgba(213,213,213,1), 1px, transparent 0) 
	// background-size: 480px 1px
	position: fixed
	top: 0
	left: 0
	z-index: -2

.patnavBg
	position: absolute
	// z-index: 1
	width: 100%
	opacity: 0
	height: 100%
	background: $main-color-50
	// border-right: 1px solid rgba(230,230,230,1)
	left: 0%
	// @for $i from 1 through 3
	// 	&:nth-of-type(#{$i})
	// 		left: 25% * $i
	// &:nth-child(1)
	// 	left: 0%
	// &:nth-child(2)
	// 	left: 50% 
	// &:nth-child(3)
	// 	left: 50%
	// &:nth-child(4)
	// 	left: 75%
  

.patnav
	width: 100%
	height: 100%
	position: fixed
	opacity: 0
	overflow: hidden
	overflow-y: auto
.patnav-head
	width: 100%
	overflow: hidden
	.patnav-head--logoImg
		width: 48px 
		height: 48px
		float: left
		margin: 25px 0 0 20px
		@include maxcom
			margin: 50px 0 0 20px
			width: 64px 
			height: 64px
	.patnav-head--logoName
		float: left
		color: $black
		font:
			size: $text-16
			weight: 700
		padding: 0 0 0 20px
		line-height: 98px
		letter-spacing: 0.5px
		@include maxcom
			font:
				size: $text-19
			margin-top: 36px
			padding: 0 0 0 30px
	.patnav-head--navCloseBt
		float: left
		margin: 40px 0 0 30px
		cursor: pointer
		border: 0
		background: none
		padding: 0
		@include maxcom
			margin-top: 60px
		.patnav-head--navCloseBt--icon
			width: 36px
			height: 36px
			@include maxcom
				width: 48px 
				height: 48px
			
.patnavSection
	width: 100%
	@include ipad
		// width: 50%
	@include computer
		width: 25%
		float: left
		padding: 0 0 0 20px
	@include maxcom
		padding: 0 0 0 90px

.patnavFirstArea
	margin: 35px 0 0 20px
	.patnavFirstArea-tit
		display: block
		letter-spacing: 0px
		@include typoBasic-notoSans
		color: $main-color
		font:
			size: $text-17
			weight: 500
		letter-spacing: 0.5px
		.patnavFirstArea-tit--icon
			width: 40px
			height: 40px
			margin-right: 10px
			vertical-align: -12px
	.patnavSecondArea
		// margin-left: 45px 
		margin-top: 20px
		display: none
		overflow: hidden
		@include ipad
			display: block
	.patnavSecondArea-li
		list-style: none
	.patnavSecondArea-link
		@include typoBasic-notoSans
		line-height: 42px
		font:
			size: $text-16-5
			weight: 400
		letter-spacing: 1px
		// padding: 5px 
		// &:hover
		// 	color: $main-color
		// 	background: $text-gray-100
	.patnavSecondArea-link--actice
		color: $main-color
		background: $text-gray-100
.patnavFirstArea--noIcon
	margin-left: 30px 
	@include ipad
		margin: 50px 0 0 40px
	@include computer
		margin-top: 80px
	.patnavSecondArea--noIcon
		// margin-left: -5px 
.patnavFirstArea--embt
	box-shadow: inset 0 -0.03em $black	




//手機視口navgation
.patSmlNav
	width: 320px
	height: 100%
	position: fixed
	top: 0
	left: -320px
	z-index: 3
	overflow-y: auto
	background: $black
	.patSmlNav-closeBt
		width: 50px 
		height: 50px
		position: absolute
		right: 0px
		top: 0px
		cursor: pointer
		background: #FFF
		.patSmlNav-closeBt--img
			width: 30px
			height: 30px
			margin: 10px 0 0 10px
			


//nav 功能連結
.patNavMenu
	width: 100%
	padding-top: 60px
	.patNavMenu-list
		margin: 0 0 15px 0
		display: block
		border-bottom: $gray-line-inBlack
		@include typoNowrap
		@include typoBasic
		font:
			size: $text-17
		line-height: 35px
		letter-spacing: 1.5px
		color: #FFF
		&:hover
			opacity: 1
	.patNavMenu-list--active
		opacity: 1
	.patNavMenu-icon
		vertical-align: -4px
		width: 20px
		height: 20px
		margin: 0 15px 0 0
	.patNavMenu-secondList
		width: 100%
		padding: 0 30px 10px 96px 
		margin: 0 
		&:last-of-type
			padding: 0 30px 20px 96px 
	.patNavMenu-viceLinkArea
		background: $color-danger
		.patNavMenu-list
			border-bottom: 1px solid rgba(255,255,255,0.4)




//電腦視口navgation
.patBigNav--bg
	display: none
	@include maxcom
		display: block
		height: 180px
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.7)0%, rgba(0, 0, 0, 0)95%)
		// position: absolute
		// z-index: 4
		// position: relative
		// margin: 0 auto -180px auto
		// margin-top: -180px
		position: absolute
		z-index: 2
		width: 100%
.patBigNav
	// position: relative
	// z-index: 2
	

/*footer*/
.patFooArea
	width: 100%
	height: auto
	overflow: hidden
	position: relative
	z-index: 2
	margin-top: 30px
	background-image: url(../images/newbg.png)

.patFoo--decLine
	width: 1px 
	height: 100px
	background: $black
	// box-shadow: 1px 0px 0.01em $black	
	position: absolute
	margin-left: calc(50% - 30px)
	transform: scale(0.6)
	@include ipad
		margin-left: calc(50% - 50px)
	@include maxcom
		margin-left: calc(50% - 100px)
		height: 160px
	@include maxcom-1920
		margin-left: calc(50% - 140px)
.patfooMainArea
	width: 100%
	padding-top: 85px
	padding-bottom: 65px
	margin-top: 50px
	margin-bottom: 50px
	background: $main-color-50
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	@include ipad
		justify-content: space-around
		flex-wrap: nowrap
		padding-bottom: 70px
	@include maxcom
		padding-top: 140px
		padding-bottom: 120px
		padding-left: 140px
		padding-right: 140px
		margin-top: 80px
		margin-bottom: 60px
		justify-content: space-between
	.patfooMainArea-socialArea
		display: block
		margin-bottom: 35px
		text-align: center
		@include ipad
			margin-bottom: 0px
		.patfooMainArea-socialArea--h4
			display: none
			@include maxcom-1920
				display: inline-block
				margin-right: 30px
				position: relative
				top: -12px
		.patfooMainArea-socialArea--bt
			margin-left: 25px
			margin-right: 25px
			display: inline-block
			position: relative
			width: 35px
			height: 35px
			overflow: hidden
			.patfooMainArea-socialArea--bt--icon
				position: relative
				z-index: 2
				width: 35px
				height: 35px
			&:hover
				box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
				.patfooMainArea-socialArea--bt--layer
					bottom: 1px
					box-shadow: inset 0 -0.03em rgba(255,255,255,0)
			.patfooMainArea-socialArea--bt--layer
				background: $black
				display: block
				width: 34px
				height: 36px
				position: absolute
				bottom: -35px
				z-index: 1
				transition: all 0.5s ease-in-out
				left: 1px
		.patfooMainArea-socialArea--bt--phone
			top: -2px
	.patfooMainArea-copyright
		// display: inline-block
		text-align: center
		text-decoration: none
		box-shadow:  inset 0 -0.03em $black	
		@include ipad
			// float: right
			margin: 0 25px
	.patfooMainArea-logo
		width: 100px
		height: auto
		display: none
		@include maxcom
			display: block
			position: absolute
			left: calc(50% - 50px)
.patfooRelateArea
	margin-left: auto
	margin-right: auto
	@include ipad
		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: center
	.patfooRelateLink
		display: block
		margin-bottom: 35px
		text-align: center
		transition: all 0.5s linear
		opacity: 0.9
		&:hover
			opacity: 0.6
			box-shadow: inset 0 -0.03em rgba(255,255,255,0)	
		@include ipad
			margin-left: 20px
			margin-right: 20px
			display: inline-block
		@include computer
			margin-left: 30px
			margin-right: 30px
		@include maxcom
			margin-left: 40px
			margin-right: 40px
.patfooSlogan
	text-align: center
	margin-top: 20px
	margin-bottom: 10px
	.patfooSlogan-text
		font:
			size: $text-16
		// box-shadow: inset 0 -0.03em $black	
.patfooDesign
	text-align: center
	margin-bottom: 40px
	text-decoration: none
	box-shadow: inset 0 -0.03em rgba(0,0,0,0)
	.patfooDesign-text
		color: $text-gray	
		box-shadow: inset 0 -0.03em $text-gray	
		&:hover
			padding: 0 12px
			box-shadow: inset 0 -3em $main-color
			color: $black

	


//頁面結構框架
/*區域內距--無寬度*/
.patSection
	padding-left: 30px
	padding-right: 30px
	@include ipad
		padding-left: 50px
		padding-right: 50px
	@include maxcom
		padding-left: 100px
		padding-right: 100px
	@include maxcom-1920
		padding-left: 140px
		padding-right: 140px

/*區域寬度*/
.patSectionWidth
	width: 100%
	margin: 0 auto
	@include ipad
	@include computer
		width: 48em
	@include maxcom
		width: 80em
	@include maxcom-1920
		width: 100%
		padding-left: 140px
		padding-right: 140px



//內頁結構框架
/*內頁banner*/
.patBannerArea
	// overflow: hidden
	line-height: 0
	position: relative
	z-index: 2
	.patBannerArea-Banner
		animation: patbannerAni 0.6s 1.5s 1 normal forwards ease-in-out
		object-fit: cover
		object-position: 50% bottom
		width: 100%
		height: 60vh
		@include ipad
		@include computer
			height: 75.5vh
	.patBannerArea-layer
		position: absolute
		z-index: 3
		width: 100%
		height: 60vh
		background: rgba(0,0,0,0.4)
		mix-blend-mode: hue
		animation: patbannerLayerAni 0.3s 1.5s 1 normal forwards ease-in-out
		@include computer
			height: 75.5vh
	.patBannerArea-titArea
		position: absolute
		z-index: 4
		left: 0
		right: 0
		bottom: 0px
		// @include ipad
		// 	bottom: -22px
		// @include computer
		// 	bottom: -32px
		.patBannerArea-tit
			animation: patTitAni 0.5s 1.8s 1 normal forwards ease-in
			opacity: 0
			position: relative
			z-index: 5
			bottom: -12px
			padding: 0 0 0 20px
			@include ipad
				bottom: -22px
				padding: 0 0 0 40px
			@include computer
				bottom: -32px
			@include maxcom-1920
				bottom: -52px
				padding: 0 0 0 0


@keyframes patbannerAni
	0%
		object-position: 50% top

	100%
		object-position: 50% 70%



@keyframes patbannerLayerAni
	0%
		background: rgba(0,0,0,0.5)
	100%
		background: rgba(0,0,0,0)


@keyframes patTitAni
	0%
		opacity: 0
		margin-bottom: -40px
	100%
		opacity: 1
		margin-bottom: 0px

