/*文編內容*/
.textBk
	width: 100%
	text-align: center
	margin: 0 auto


.textImg
	width: 100%
	text-align: center
	border: 15px solid #FFF
	height: auto
	margin: 0 auto 20px auto

.textImgNote
	width: 100%
	display: inline-block
	text-align: center
	@include typoBasic-notoSans
	line-height: 2
	font:
		size: $text-15
	padding: 0 20px
	color: $text-gray
	@include computer
	@include maxcom
		font:
			size: $text-17
	@include maxcom-1920

.textImg,.textImgNote
	width: 100%
	@include ipad
		//608px
		width: 80%

.textArticleTit,.textArticleParagraph
	margin: 50px auto 
	@include maxcom
.textArticleTit
	@include typoBasic
	font:
		size: $text-20
	line-height: 1.8
	letter-spacing: 1px
	@include ipad
	@include computer
	@include maxcom
		font:
			size: $text-24
	@include maxcom-1920
		font:
			size: $text-30
		letter-spacing: 1.2px
.textArticleParagraph
	text-align: left
	@include typoBasic-notoSans
	line-height: 2.2
	font:
		size: $text-18
	@include ipad
	@include computer
	@include maxcom
		font:
			size: $text-18
	@include maxcom-1920

