/*文字相關設定*/
/*文字單行+nowrap*/
@mixin typoNowrap
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap


/*文字基本設定--標題有襯線宋體*/
@mixin typoBasic
	font:
		family: $text-style
		size: $text-16
		weight: 600
	color: $black
	line-height: 1.6

/*文字基本設定--內文黑體*/
@mixin typoBasic-notoSans
	font:
		family: $text-style-notoSans
		size: $text-16
		weight: 400
	color: $black
	line-height: 1.5
	letter-spacing: 0px

/*文字基本設定--標題英文*/
@mixin typoBasic-enTit
	font:
		family: 'Lateef', cursive
		weight: normal
	color: $black


h1,h2,h3,h4,h5,h6
	margin: 0 0 0 0	

h1
	@include typoBasic
	font:
		size: $text-24
	letter-spacing: 1px
	@include ipad
		font:
			size: $text-34
		letter-spacing: 1.5px
	@include computer
	@include maxcom
	@include maxcom-1920
		font:
			size: $text-50
		


h2
	@include  typoBasic-enTit
	font:
		size: $text-54
	@include ipad
		font:
			size: $text-96
	@include computer
	@include maxcom
	@include maxcom-1920
		font:
			size: $text-132
		
h3
	@include typoBasic
	font:
		size: $text-20
	line-height: 1.8
	letter-spacing: 1px
	@include ipad
	@include computer
	@include maxcom
		font:
			size: $text-24
	@include maxcom-1920
		font:
			size: $text-30
		letter-spacing: 1.2px


h4
	@include  typoBasic-enTit
	// text-decoration: underline
	box-shadow:  inset 0 -0.03em $black	
	font:
		size: $text-20
	line-height: 1
	@include ipad
	@include computer
	@include maxcom
	@include maxcom-1920

h5
	@include typoBasic-notoSans
	color: $main-color
	font:
		size: $text-15
		weight: 700
	letter-spacing: 0.5px
	@include ipad
	@include computer
	@include maxcom
		font:
			size: $text-17
	@include maxcom-1920
	// .icon
	// 	vertical-align: -2px
	// 	display: inline !important
	// 	width: auto !important

h6
	@include typoBasic-notoSans
	font:
		size: $text-15
		weight: 500
	letter-spacing: 1px
	@include ipad
	@include computer
	@include maxcom
		font:
			size: $text-17
		line-height: 1.7
	@include maxcom-1920


p
	@include typoBasic-notoSans
	line-height: 2.2
	font:
		size: $text-15
	@include ipad
	@include computer
	@include maxcom
		font:
			size: $text-17
		line-height: 2.2
	@include maxcom-1920
		


.typo-chTit
	@include typoBasic
	font:
		size: $text-24
	letter-spacing: 1px
	@include ipad
		font:
			size: $text-34
		letter-spacing: 1.5px
	@include computer
	@include maxcom
	@include maxcom-1920
		font:
			size: $text-46


.typo-danger
	color: $color-danger

.typo-black
	color: $black 

.typo-underline
	text-decoration: underline

.typo-textAlignCenter
	text-align: center